[2017-10-05 15:15] Justluckyg commented on #341
@jarrpa thank you i will try that tomorrow on prem (dont have access remotely :()

by the way, would you know as well what would cause this:

Checking status of pods matching '--selector=job-name=heketi-storage-copy-job':
heketi-storage-copy-job-fsrgw   0/1       ContainerCreating   0         5m
Timed out waiting for pods matching '--selector=job-name=heketi-storage-copy-job'.
Error waiting for jo

[2017-10-05 15:19] jarrpa commented on #341
@Justluckyg Updated your comment again for proper formatting. :)

If you do an `kubectl describe` on the job it'll probably show that it can't mount the GlusterFS volume, which isn't surprising given the incomplete state of your setup.

[2017-10-06 03:43] Justluckyg commented on #341
@jarrpa when i describe the heketi storage pod, this is what im getting:

QoS Class:	BestEffort
Node-Selectors:	<none>
Tolerations:	<none>
Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason		Message
  ---------	--------	-----	----			-------------	--------	------		-------
  18h		1m		492	kubelet, lenddo-vm-2			Warning		FailedMount	Unable to mount volumes for pod "heketi-storage-cop

[2017-10-06 03:54] jarrpa commented on #341
@Justluckyg As I suspected. Yes, follow the guidance we just gave: run the abort, the check to see if there are any heketi svc or ep resources left. Report if there are any. Run the `rm` and `wipefs -a` commands on all storage nodes. Run the deploy again. If you get to this same state, with the copy job timing out, inspect the GlusterFS logs on the node being targeted for the mount. Also verify wh

[2017-10-06 04:18] Justluckyg commented on #341
@jarrpa i just did the above, i was the getting the same. i manually deleted the heketi service that didnt get deleted by the gk-deploy command. but the heketi-storage is still failing

[code]

and this is the glusterd logs from that node:

[code]

I did the mount -t glusterfs from node2, didnt make any difference...

[2017-10-06 08:39] diogo-reis commented on #365
I retry the deploy and i get the same output :

[code]

There are no partitions on disk /dev/vdb:
[code]

[2017-10-06 12:24] jarrpa commented on #341
@Justluckyg Okay, but you were able to mount, yes? And what was the exact name of the service you had to delete?

[2017-10-06 12:27] Justluckyg commented on #341
@jarrpa with the mount -t glusterfs? i only did that after trying to run the gk-deploy -gvy script while the heketi storage copy job was containercreating.

the heketi-service was the one i deleted.

[2017-10-06 12:28] jarrpa commented on #365
@diogo-reis And you did the `wipefs -a` too?

[2017-10-06 12:37] jarrpa commented on #341
@Justluckyg Right, but it worked? And what was the EXACT name of the service, was it `heketi-storage-endpoints`?

[2017-10-06 12:38] Justluckyg commented on #341
@jarrpa when i entered the command `mount -t glusterfs` it took it, there was no error. and yes for the service. heketi-storage-endpoints

[2017-10-06 12:50] jarrpa commented on #341
@Justluckyg Idea: Try mounting the GlusterFS volume again, on a node not running the copy job pod, and see if you can do an `ls` on the mounted directory.

[2017-10-06 12:54] diogo-reis commented on #365
@jarrpa thanks for the answer.

Yes I did, I've redeployed the entire Kubernetes cluster and I re-run all the commands that you tell me and the problem continues. It's strange, you have an idea of what might be?

[2017-10-06 12:54] Justluckyg commented on #341
@jarrpa should i just do `mount -t glusterfs` or is there anything after that? because when i do that on node 3 and do df -h, i dont see any newly mounted directory?

[2017-10-06 12:58] jarrpa commented on #365
@diogo-reis Not off-hand... typically, when heketi fails to add a device, it's because something is wrong with either the device or the ability to execute commands on the device. The commands I supplied SHOULD have brought the device back to a usable state. Can you check the heketi logs again and verify if the same error message about `pvcreate` (https://github.com/gluster/gluster-kubernetes/issue

[2017-10-06 13:01] jarrpa commented on #341
@Justluckyg Yes: Create a new directory somewhere, then run `mount -t glusterfs 192.168.1.242:heketidbstorage <SOME_DIR>`. This should tell us if the GlusterFS volume can be accessed from the node you're working on. Afterwards, run `umount <SOME_DIR>` to unmount the volume.

[2017-10-06 13:04] Justluckyg commented on #341
@jarrpa its unable to mount..
[root@lenddo-vm-3 ~]# mkdir test
[root@lenddo-vm-3 ~]# mount -t glusterfs 192.168.1.242:heketidbstorage test
Mount failed. Please check the log file for more details.

[2017-10-06 13:05] diogo-reis commented on #365
I think the problem is caused by the deploy-heketi pod not being able to execute commands in the glusterfs pods. In the deploy-heketi logs the following error messages appear:

`ERROR 2017/10/06 10:43:43 /src/github.com/heketi/heketi/executors/kubeexec/kubeexec.go:247: Failed to run command [pvcreate --metadatasize=128M --dataalignment=256K /dev/vdc] on glusterfs-km3q1: Err[]: Stdout []: Stderr []

[2017-10-06 13:17] jarrpa commented on #341
@Justluckyg Ah-ha! try running the `mount` command again with `-v`.

[2017-10-06 13:19] Justluckyg commented on #341
@jarrpa it didnt take it
[code]

[2017-10-06 13:23] jarrpa commented on #341
@Justluckyg Irritating... see if there are any logs in `/var/log` that mention `heketidbstorage`, something like `grep -R heketidbstorage /var/log`.

[2017-10-06 13:26] Justluckyg commented on #341
@jarrpa theres a bunch, not sure which one will be helpful:

so i put it [here](http://pasteall.org/597939)

[2017-10-06 13:28] jarrpa commented on #365
@diogo-reis Yeah, same. Let's see if I can get someone else in on this while I keep thinking about it...

@raghavendra-talur @humblec Does this bring any possibilities to mind? See at least from https://github.com/gluster/gluster-kubernetes/issues/365#issuecomment-334226351 onwards.

[2017-10-06 13:29] jarrpa commented on #341
@Justluckyg Good start. Look for errors towards the end of `/var/log/glusterfs/bricks/var-lib-heketi-mounts-vg_bb208485241a154b8d3070d2da837a53-brick_80e7daa7eb94cae8e4d1c81ccbdad92b-brick.log`.

[2017-10-06 13:32] jarrpa commented on #341
@Justluckyg Also `/var/log/glusterfs/root-test.log`.

[2017-10-06 13:34] Justluckyg commented on #341
@jarrpa no error there. all Informational line. But in glusterfs/glusterd.log, im getting this:
same on the node where the copy-job is trying to create.

[code]
[code]

[2017-10-06 13:41] jarrpa commented on #341
@Justluckyg You can ignore those errors, they're "normal". :)

The root-test log would only appear on nodes where you've mounted a gluster volume to `/root/test`.

Do me a favor and check the version of Gluster running in the pods (`gluster --version`) and the version of the GlusterFS FUSE client on your nodes (`mount.glusterfs -V`).

[2017-10-06 13:48] jarrpa commented on #341
@Justluckyg Hmm... that might be too old. Do you have any way of updating that?

[2017-10-06 13:57] Justluckyg commented on #341
@jarrpa i noticed upgrading it is not as easy as just doing a yum upgrade as it throws a lot of dependency errors.

[2017-10-06 14:06] jarrpa commented on #341
@Justluckyg Darn. Well, that's my current thinking, unfortunately. Can you try to see if you can resolve the dependency issues?

[2017-10-06 14:06] Justluckyg commented on #341
@jarrpa sure ill try that, do you have any preferred stable version?

[2017-10-06 14:08] jarrpa commented on #341
@Justluckyg Preferably at or newer than the version in the GlusterFS pods, which I think is 3.10.5.

[2017-10-09 08:05] Justluckyg commented on #341
@jarrpa I was able to complete the deployment after uninstalling my glusterfs-fuse package and installing a 3.8.4. (whew finally with your help!!)

Just one thing, i tried testing it by following the helloworld [instructions](https://github.com/gluster/gluster-kubernetes/blob/master/docs/examples/hello_world/README.md)

My pvc is stuck at pending:

Here are my storageclass and pvc yaml.
[code]

[c

[2017-10-09 08:15] Justluckyg commented on #341
whew... after a month of testing and your unwavering support @jarrpa @SaravanaStorageNetwork... I finally successfully completed the deployment and deployed my first storage pvc using your sample nginx hello world application!
So your recommendation to upgrade the gluster ultimately resolved the issue where the heketi-storage pod was not creating @jarrpa. im now running 3.8.4 of glusterfs-fuse pac

[2017-10-09 08:15] #341 closed

[2017-10-09 12:39] jarrpa commented on #341
YEEEESSS!! HAH! :D Happy to hear that! Always feel free to come back any time you need additional help. Or if you just want to gice us praise, we won't turn that down either. ;)

[2017-10-09 21:28] kwtalley opened #366 "restarting cluster breaks glusterfs"
os: ubuntu 16.04
k8s: 1.8
glusterfs-client (installed on all nodes): 3.7.6-1ubuntu1
glusterd (from gluster/centos-gluster container): glusterfs 3.10.2

I've successfully deployed glusterfs using the gk-deploy script and added a storageclass. from here, everything works! but, once i test rebooting the k8s cluster (6 bare-metal nodes), gluster fails to come back up. to simplify the debugging, i have

[2017-10-09 23:35] jarrpa commented on #366
@kwtalley Hey, thanks for the issue. :) I'm currently traveling this week, so I'm not certain how quickly I can look into this.

@raghavendra-talur, any immediate thoughts or insights?

[2017-10-10 19:54] kwtalley commented on #366
I ran through the deployment and restart again and found this too. all 3 bricks are changing devices after the restart?

before:
[code]
after:
[code]

[2017-10-11 06:43] Justluckyg opened #367 "PVC is stuck at PENDING"
Hello..

I currently have a glusterfs deployment that I was able to test using the nginx helloworld app and it appears to be getting the data. however our db deployments is in a separate namespace. is that the reason why am i getting these?
[code]

[2017-10-11 14:33] gambadilegno opened #368 "Not able to deploy heketi on k8s with external GlusterFS cluster"
# Not able to deploy heketi on k8s with external GlusterFS cluster
I'm trying to deploy heketi on k8s having an external GlusterFS cluster of 3 nodes by using the gk-deploy script without -g option: for my understanding this should be used when you do not want to deploy glusterfs pods. The script fails with this message:
[code]
Kubernetes 1.8.0 with 3 masters and 3 workers running CentOS 7.3
Glust

[2017-10-11 16:46] jarrpa commented on #367
@Justluckyg What was the procedure you followed that allowed you to provision a GlusterFS volume?

[2017-10-11 16:59] dougbtv commented on #363
Just an FYI @jarrpa I ran through a gk-deploy again, and this time with the `heketi/heketi:5` tagged image -- I don't get the "no space" error (e.g. everything completed as expected). I'll try `heketi:dev` again and file a new issue if I'm able to reproduce it again.

[2017-10-11 17:47] jarrpa commented on #368
@gambadilegno The absence of the `-g` only indicated that you don't want to setup the GlusterFS nodes. If you want to use non-containerized GlusterFS nodes you need to specify additional SSH parameters: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L80-L91

[2017-10-11 17:51] jarrpa commented on #363
@dougbtv Neat! That's heartening. :)

[2017-10-11 17:54] gambadilegno commented on #368
I was passing those parameters via heketi.json file placed in the same dir of the gk-deploy script. May be the documentation can be improved for this case. Thanks a lot for your prompt answer.

[2017-10-11 17:57] jarrpa commented on #368
@gambadilegno No problem!

That sounds like a useful idea. It'd be useful if you could propose some documentation. You have the perspective of someone who needs/needed that documentation, so your feedback as to what include and where would be appreciated. :)

[2017-10-12 03:05] Justluckyg commented on #367
@jarrpa the successful one was followed line by line through [here](https://github.com/gluster/gluster-kubernetes/blob/master/docs/examples/hello_world/README.md)

To test it in our environment, we basically a tool that we used for kops in provisioning kubernetes cluster in AWS, this is my first time using that tool in a bare metal. This tool allows me to automate the creation of a statefulset. Wh

[2017-10-12 08:33] gambadilegno commented on #368
@jarrpa it is till failing
[code]

This time the deploy-heketi error looks like different. Is is trying to resolve gluster node names against the embedded dns service of kubernetes?
[code]
thanks in advance for your help!

[2017-10-12 08:49] gambadilegno commented on #368
@jarrpa by using IP addresses instead of hostnames in topology.json file
[code]
the script is able to complete

[code]

[2017-10-12 13:29] dougbtv opened #369 "Error: No Space with heketi:dev image"
Currently, using `gk-deploy` -- if I am to use the `heketi/heketi:dev` tag (as is default in gluster-kubernetes) I am presented with gk-deploy failing with: `Error: no space`. If I change the yaml resource definitions to point at the `heketi/heketi:5` image tag -- it completes without error. (This is a follow up issue from #363 )

I run gk-deploy like so:

[code]

And the output from that command

[2017-10-12 13:52] Justluckyg commented on #367
closing this issue... i figured it out :)

[2017-10-12 13:52] #367 closed

[2017-10-12 15:58] jarrpa commented on #368
Oh... can you verify that the k8s DNS is setup such that the heketi pod can resolve the host names you were trying to use?

[2017-10-12 16:00] jarrpa commented on #369
@dougbtv Can you also paste the heketi logs from when the (not very useful) error message occurs?

[2017-10-12 20:42] dougbtv commented on #369
Sure thing, a bit of a huge log, but...

[code]

[2017-10-12 21:09] jarrpa commented on #369
@dougbtv Can you exec into the heketi container and use the command `heketi-cli -s http://localhost:8080 --user admin --key '' topology info` to get the list of nodes and volumes heketi knows about? There are also `node info` and `volume info` subcommands you can run to see if they show anything useful.

[2017-10-13 08:22] gambadilegno commented on #368
Yes, the kubernetes is not injecting global DNS into pods and therefore pods are not able to resolve gluster node names. I think you can close the issue. Thanks for your help!

[2017-10-13 08:22] #368 closed

[2017-10-13 18:04] dougbtv commented on #369
You got it, here's what it looks like. Interestingly enough `volume list` command comes up empty but exits 0. Here's the output:

[code]

[2017-10-13 18:16] jarrpa commented on #369
Hm... dang. This sounds like a heketi issue. Can you open a new issue in the heketi repo including the following from what you've already provided here:
* Problem statement, including the fact that heketi:5 doesn't have the issue
* gk-deploy output
* topology file
* topology info output
* heketi log

[2017-10-13 18:46] dougbtv commented on #369
Absolutely, thanks for fishing through it Jose.

On Fri, Oct 13, 2017 at 2:17 PM Jose A. Rivera <notifications@github.com>
wrote:

[2017-10-13 19:24] dougbtv commented on #369
I've got it filed in the heketi/heketi github repo as reference.

[2017-10-16 14:17] JohnStrunk opened #370 "Enable Gluster TLS security"
Currently, Gluster is deployed without security, and enabling security requires manual intervention. Without TLS enabled, pods can directly access Gluster volumes if they know the IP of a server and a volume name, circumventing access control.

I will write up a proposal for TLS by default.

@jarrpa You can assign this issue to me.

[2017-10-17 19:32] dimthe opened #371 "glusterfs pods CrashLoopBackoff"
@
hi

i have been trying to deploy this with no luck

3 nodes have label storagenode=glusterfs and running the daemonset gives this error

pods created but only 1 is ready
[code]

error logs:

[code]

only 1 pod out of 3 is working as it should

[2017-10-17 19:54] jarrpa commented on #371
Please provide your inventory file as well as the versions of openshift, openshift-ansible, and ansible that you are running.

Also, check the directory `/var/log/glusterfs` on the host nodes where the GlusterFS pods are failing and see if anything can shed some light on the problem.

[2017-10-17 19:56] jarrpa commented on #371
Please provide your topology file, the output of gk-deploy, your kubernetes version, and the OSes on your machines.

Also, check the directory /var/log/glusterfs on the host nodes where the GlusterFS pods are failing and see if anything can shed some light on the problem.

[2017-10-17 19:57] jarrpa commented on #371
...and I just noticed, why are you using the `heketi/gluster:latest` image?

[2017-10-17 20:28] dimthe commented on #371
@jarrpa

i am not using gk-deploy  , i run this on a kube cluster version 1.7.5  on bare metal on Centos 7.3
i did try heketi/gluster to see if i could get it to work , but i use"gluster/gluster-centos:latest"

**first failing host**

[code]

**second failing host**

[code]

**working pod**

[code]

in the hosts the fail , i can try to manually start glusterd but i get an error saying unit gluster

[2017-10-17 20:40] jarrpa commented on #371
Oh... okay, this'll prove interesting then. :)

There should be no glusterd on the host nodes. The pod containers have glusterd, they just write logs to the hosts. What gluster packages do you have installed on your CentOS machines?

[2017-10-17 20:43] dimthe commented on #371
these are the installed packages

centos04 failing node

[code]

centos05 failing node
[code]

centos03 working node
[code]

[2017-10-17 20:47] jarrpa commented on #371
Hmm... okay. Look up more than 20 lines in the failing logs, see if there's anything that indicates error messages.

[2017-10-17 20:50] dimthe commented on #371
i see rpc errors as listed below

[code]

[2017-10-17 21:01] jarrpa commented on #371
Are you using [this](https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/glusterfs-daemonset.yaml) DaemonSet definition?

[2017-10-17 21:04] dimthe commented on #371
yes that is the one i used

[2017-10-17 21:06] jarrpa commented on #371
Okay, I'm currently out of ideas. :) Off-hand, seems like a Gluster crash of some sort, though the rpc/rdma error is a "normal" error so it doesn't tell us anything.

@raghavendra-talur @humblec Any ideas?

[2017-10-17 21:07] dimthe commented on #371
if i try to start the service from within a failing pod i get this
[code]

[2017-10-17 21:11] jarrpa commented on #371
Check `journalctl -xe` within the pod just after it fails to start and see if there's any differen information.

[2017-10-17 21:17] dimthe commented on #371
i deleted a failing pod and it autocreated again , then journalctl -xe shows these
[code]
Oct 17 21:12:09 centos04 systemd-fstab-generator[400]: Failed to create mount unit file /run/systemd/generator/-.mount, as it already exists. Duplicate entry in /etc/fstab?
Oct 17 21:12:09 centos04 LVM: Failed to create unit file lvm2-activation-early.service: File exists.
[code]

[code]
[code]
nfs-client.tar

[2017-10-17 21:24] jarrpa commented on #371
Please be careful with your copying and formatting. We can not help you if we don't get accurate information. Please provide more legible `journalctl` output.

[2017-10-17 21:27] dimthe commented on #371
these are the only errors it shows related to gluster
[code]

[2017-10-17 21:32] jarrpa commented on #371
Dangit... all right, I'll leave it there for now. Hopefully someone can have a look at this tomorrow.

[2017-10-18 17:13] dimthe commented on #371
here is the actuall error after  i do a describe
[code]

[2017-10-18 20:38] jarrpa commented on #371
@dimthe Is rpcbind running on all the hosts? `systemctl status rpcbind`?

[2017-10-18 21:13] dimthe commented on #371
hello

first failling node

[code]

second failing node

[code]

working node

[code]

[2017-10-21 08:56] panigrahis commented on #298
@jarrpa i am getting the exact rpcinfo error stated above with ubuntu... How can this be fixed?

[2017-10-21 15:12] jarrpa commented on #298
@panigrahis The startup script in the ubuntu-minimal container needs to be updated to point to the right location of rpcbind and rpcinfo. I just haven't had time to get back to that. :(

[2017-10-22 09:04] devent commented on #298
@panigrahis It's fixed in my fork. But my fork also updated GlusterFS to version 3.12 because of https://github.com/gluster/gluster-kubernetes/issues/334

[2017-10-23 03:59] soumyapanigrahi-k8s commented on #298
@devent thanks for the help. I am running K8S 1.8.
So creating new docker image with the fixes for path rpcinfo and rpcbind worked for me.

[2017-10-24 11:36] Justluckyg opened #374 "Unable to create node: Failed to get list of pods"
Centos 7.3
Using Heketi latest
Custom namespace
deleted all secrets from all ns

Heketi logs
[code]

Thank you!

[2017-10-25 05:16] mohaijiang opened #377 "Creating node is blocked"
Hi
 I tried to follow this [guide](https://github.com/kubernetes/examples/blob/master/staging/volumes/glusterfs/README.md)
and all is ok excepet Createing node.

os :  centos 7.1
       Linux node4-pUXCauZC8 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
kubernetes:  1.6.4
docker: 1.12.6

I use command with `./gk-deploy -g -v`
and output
[code]
and no outpu

[2017-10-25 13:29] Justluckyg opened #378 "heketi volume storage management"
This is more of a question/inquiry than an issue..

How and where can I edit the default number of replicas that heketi creates for the volumes? Currently it creates 3 bricks per PVC that I claim and I have a very limited storage space. I dont mind having no redundancy, I would like to know how I can configure it that it will only create a single brick/replica for every pvc I create so it wouldnt

[2017-10-25 16:19] jarrpa commented on #374
Sorry for the delay!

Did you use gk-deploy? If so, do you have the output from that?

Do you have a heketi-service-account and does it have the "edit" clusterrole bound to it?

[2017-10-25 16:36] dimthe commented on #371
is there not a solution for this ?

[2017-10-25 18:02] jarrpa commented on #377
What is your topology file? Can you also exec into the heketi pod and get the output of `heketi-cli -s http://localhost:8080 topology info`?

[2017-10-25 18:07] jarrpa commented on #378
This is a per-volume option, the default is always 3-way replica. You can create a StorageClass that will set the volume type for you, where you could volumetype "none": https://github.com/kubernetes/examples/blob/master/staging/persistent-volume-provisioning/README.md#glusterfs

This corresponds to the heketi-cli volume create option of `--durability=none`.

[2017-10-25 18:16] jarrpa commented on #371
Not yet, you caught most of us during travel or holiday. :(

I'll give it another shot.

First, please verify that all of your nodes that will be running GlusterFS pods meet the following requirements: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L525-L542

Next, try doing `systemctl stop rpcbind` on the hosts then restart all three GlusterFS pods. If this doesn't wor

[2017-10-25 20:46] dimthe commented on #371
hello @jarrpa

all hosts have the modules loaded already

rpcbind has been stoped , disabled , enabled and disabled again in all hosts without any luck .

i was following this page in order to deploy glusterfs/heketi :
http://blog.lwolf.org/post/how-i-deployed-glusterfs-cluster-to-kubernetes/ and i landed on this github repo because the deployment yaml was missing from https://github.com/heketi/he

[2017-10-25 20:55] jarrpa commented on #371
Ah, okay. And as we established earlier, you got the daemonset yaml from this repo... do your nodes also all have the right firewall and SELinux (if any) settings?

[2017-10-25 21:11] dimthe commented on #371
this is my daemonset
https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/glusterfs-daemonset.yaml

the kube cluster was deployed via kubespray

all hosts , 1 working and 2 failed have these listening ports as of right now

[code]

[2017-10-25 21:16] jarrpa commented on #371
....that's netstat, that's not your firewall. Do you have the required ports opened on your firewall?

[2017-10-25 22:14] dimthe commented on #371
i never manually opened these ports

* 2222  - sshd (if running GlusterFS in a pod)
 * 24007 - GlusterFS Management
 * 24008 - GlusterFS RDMA
 * 49152 to 49251

if this is indeed a firewall issue how come one of the 2 pods is running ok ? just asking and trying to understand this..
correct me if i am wrong but i think something got messed up in the physical hosts . I see these error lines in the 2

[2017-10-25 22:35] dimthe commented on #371
ok i opened these ports from the above readme and i get the same errors so it must be something else..

[2017-10-25 23:35] jarrpa commented on #371
Just wanted to get that out of the way. It would have been an issue down the line if left undone anyway. :)

I was noticing those errors earlier, but I'm not sure what to make of them. This is supposed to be doable out-of-the-box on CentOS.

What configuration did you do on these systems? And I mean, all of it. How did you install the operating system, what modifications did you make afterwards, h

[2017-10-25 23:45] dimthe commented on #371
The operating system on all hosts was installed via an install image script suitable for this task given to me by the datacenter where these servers are hosted . Once each host was finished i then did the yum updates to make them up to date . I then used kubespray to deploy the kube cluster via ansible . The kube cluster in general is working very good , i have a lot of pods running with no issues

[2017-10-25 23:55] jarrpa commented on #371
The storage disks should not have any partitions on it, they should just be bare drives. heketi should take care of creating the PVs and partitioning the disks. The trouble the author of the blog post you're following ran in to should be resolved by now.

Is glusterd still running on any of the hosts? I saw your glusterfs RPM list from earlier, so is it still the case that glusterfs-server is abse

[2017-10-26 00:00] dimthe commented on #371
glusterd is running on one of the failing hosts . Should i nuke it ?

the other failing node does not have glusterd installed

i should also remove the partitions on /dev/sdc

centos03 working node
[code]

centos04 failed node

[code]

centos05 failed node

[code]

[2017-10-26 00:26] jarrpa commented on #371
Uninstall glusterfs-server, that should also take care of stopping the service.

Yup, remove the partitions. Also do a `wipefs -a /dev/sdc` to make sure it's clear.

A bit of a stretch here, but see if you can find any discrepancies with LVM. `journalctl -xe` and look for more LVM entries, see if there's anything weird in `/etc/lvm/lvm.conf`, etc.

[2017-10-26 05:34] Justluckyg commented on #378
Thank you as always @jarrpa :) Just a question, whats the difference between `type: distribute` to `type: replicate`

When I did gluster volume info, im now seeing a single brick per volume after using volumetype: "none" to my storageClass.yaml file.

[2017-10-26 08:36] dimthe commented on #371
@jarrpa
glusterfs has been removed via yum remove from centos04 failing node only , it was not installed in the other nodes .  Partitions on /dev/sdc were removed as well and wipefs also did its thing .

in centos05 i see these errors  and nothing else related to lvm

[code]

in centos04 these

[code]

in both hosts /etc/lvm/lvm.conf has all the default values , nothing odd

[2017-10-26 09:11] SaravanaStorageNetwork commented on #378
Refer below to understand different volume types in glusterfs :
http://docs.gluster.org/en/latest/Quick-Start-Guide/Architecture/#types-of-volumes
In short, replicate provides redundancy whereas distribute does not.

In Kubernetes environment, redundancy is important requirement hence replicate volume type is made as default.

You can write few files and see how the files are stored in the backend

[2017-10-26 12:56] jarrpa commented on #371
Okay... this is probably a long shot but check the values of udev_sync, udev_rules, and use_lvmetad in the lvm.conf file.

Have you restarted these machines at all in all this? If not, try something like `systemctl daemon-reload` and if still nothing try a full system restart.

[2017-10-26 13:04] dimthe commented on #371
hello

the nodes have been restarted many times . I also did the daemon-reload and nothing changed

[code]

and

[code]

working node centos03 below
[code]

[2017-10-26 14:28] jarrpa commented on #371
Check the output of `systemctl status lvm2-activation-early` and the contents of `/run/systemd/generator/`on all three nodes.

[2017-10-26 14:46] mohaijiang commented on #377
@jarrpa  thanks for help

`heketi-cli -s http://localhost:8080 topology info`

[code]

and my topology file is
[code]

my kubernetes nodes is
[code]

[2017-10-26 14:50] jarrpa commented on #377
Hmm.... was the snippet you shared your entire heketi log? There's nothing that shows the traffic from the topology load command?

Also, are your disks bare? They should have no partitions on them and not be marked as PVs. A `wipefs -a /dev/vdb` should clear them.

[2017-10-26 14:59] dimthe commented on #371
hello @jarrpa

[code]

[code]

[code]

[2017-10-26 15:01] mohaijiang commented on #377
@jarrpa  thank you very much
`wipefs -a /dev/vdb` works  !!

[2017-10-26 15:01] #377 closed

[2017-10-26 18:21] jarrpa commented on #371
Ugh... can you verify the kernel modules and SELinux perms listed [here](https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L525-L542) are loaded and set?

[2017-10-26 18:22] jarrpa commented on #377
Woo! Happy to help. :)

[2017-10-26 21:52] dimthe commented on #371
hi

i have the modules loaded
[code]

in dmesg i see this line , does this make any sense ?
`[28314.934200] systemd-fstab-generator[8]: Running in a container, ignoring fstab device entry for /dev/disk/by-uuid/bece0db7-7e6f-4289-a7fd-27db2de764a8.`

i am trying to find a way to check what virt_sandbox_use_fusefs settings i currently have

[2017-10-26 22:32] jarrpa commented on #371
I assume those modules are the same for all three nodes, yes?

What about the dmesg line? Is that present on all three as well?

[2017-10-26 22:55] dimthe commented on #371
hello

modules are loaded in all nodes and the dmesg line is only present in the 2 nodes that fail

[2017-10-26 23:48] jarrpa commented on #371
First, try this: https://github.com/systemd/systemd/issues/6569#issuecomment-321194877

If that doesn't work, try this: https://bbs.archlinux.org/viewtopic.php?pid=1515377#p1515377

If that doesn't work, try this (same thread): https://bbs.archlinux.org/viewtopic.php?pid=1501024#p1501024

[2017-10-27 13:05] VP2405 commented on #142
I had the same issue, problems of permissions. Solved it with:

`kubectl create clusterrolebinding gluster-role-binding  --clusterrole=cluster-admin --serviceaccount=default:heketi-service-account`

[2017-10-27 14:33] jarrpa commented on #142
@VP2405 Thanks! Do you know if using the `edit` cluster role achieves the same effect?

[2017-10-27 20:58] shadycuz commented on #286
@jarrpa back at it again all this time later =)

[code]
I guess those modules werent installed on my nodes?

[2017-10-27 21:10] shadycuz commented on #286
@jarrpa seemed to run okay a second time.

whats the admin key?
[code]

[2017-10-27 21:31] shadycuz commented on #286
Seem like no auth =) so everything seems to be working, going to try a dynamic provisioner out soon!

[2017-10-27 21:31] shadycuz commented on #286
Thanks @jarrpa and @torshie

[2017-10-27 21:31] #286 closed

[2017-10-27 21:56] dimthe commented on #371
hello @jarrpa

i did try this in one of the failing hosts , centos04 and i was getting these
[code]

i do not have duplicate entries in fstab

[code]

i did try something totally different . I never understood why the daemonset had hostnetwork to true
[code]

because of that the glusterfs pods were always assigned public IPs from the hosts they were scheduled to

i edited the daemonset to
[code]

[2017-10-27 22:10] jarrpa commented on #371
Host networking is required. GlusterFS needs to maintain a consistent identity, even after restarts. Kubernetes does not allow instances of the same pod to maintain the same IP address, hence we need to use the identity of the host.

[2017-10-27 22:13] dimthe commented on #371
i understand now . Is there a reason why the pods worked with the change i did and not with hostnetwork: true  ?

[2017-10-27 22:34] jarrpa commented on #371
My guess would be that something on the failing hosts is taking up a port that the GlusterFS pods need.

[2017-10-27 22:57] dimthe commented on #371
do you happen to know what ports are required to be open so i can check ?

[2017-10-27 22:59] jarrpa commented on #371
Same place I've been linking to: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L525-L542

[2017-10-30 14:30] BastienAr opened #381 "Communication with deploy-heketi failed"
Kube version : v1.7.5
Docker version : 17.06.2-ce, build cec0b72

I'm using this [glusterfs-daemonset.yaml](https://github.com/jarrpa/gluster-kubernetes/blob/jarrpa-dev/deploy/kube-templates/glusterfs-daemonset.yaml) referenced in #298  to pass over `Couldn't find an alternative telinit implementation to spawn.` issue. I'm also using [erwin glusterfs image](https://hub.docker.com/r/erwin82/gluster

[2017-10-30 14:51] jarrpa commented on #381
I always forget which of the two IPs we're supposed to be using. Any luck with the Endpoints IP? Can you verify that your networking is set up correctly by trying a curl or ping against a different pod that you know should work?

I would also suggest an exec into the heketi pod and trying `heketi-cli -s http://localhost:8080 --user admin topology info` and see if that succeeds. I imagine it will,

[2017-10-30 15:16] BastienAr commented on #381
Both endpoints are down, if I exec `heketi-cli -s http://localhost:8080 --user admin topology info` inside heketi pod i get no output, but if I exec a `curl http://localhost:8080/hello` I get the expected "Hello from Heketi". Seems to be a problem in my network.

I will investigate my k8s cluster config and close the issue for now, thanks for your time

[2017-10-30 15:17] #381 closed

[2017-10-30 15:20] jarrpa commented on #381
@BastienAr That you got no error is all we were looking for. :) If there's no nodes or anything added there's just empty output. Not exactly immediately helpful, but there you go.

[2017-10-31 13:20] BastienAr commented on #381
For the record.

It appears that my firewall was indeed too restrictive, I had to set the policy to ACCEPT on FORWARD chain.

[2017-10-31 17:21] srflaxu40 commented on #328
Do I have to install glusterd onto all my nodes to use heketi??  I thought heketi takes care of this.  I am getting Unable to create node: New Node doesn't have glusterd running

[2017-10-31 17:28] jarrpa commented on #328
heketi does not take care of installing anything, it is only a management service. It will configure the GlusterFS nodes once they are installed and the glusterd processes started.

[2017-10-31 17:38] srflaxu40 commented on #328
Thanks @jarrpa, so pretty much setup the glusterfs binaries / daemon and it should be able to run?

[2017-10-31 17:46] srflaxu40 commented on #328
@jarrpa It seems I got past this issue, but I am getting this error:

`Unable to create node: Failed to get list of pods`

[2017-10-31 17:49] srflaxu40 commented on #328
This appears to be working, and I have not installed anything just ran the glusterfs pods.  I had to clusterrole bind the service account in the repo:

`~/heketi/extras/kubernetes$  heketi-cli topology load --json=topology-sample.json
	Found node ip-10-1-1-190 on cluster b2a9130f63b735f71c9a32c3a04ee75a
		Adding device /dev/xvdb ... OK
	Creating node ip-10-1-3-57 ... ID: bab7ac26a0e26cab2e23758a8d

[2017-10-31 19:55] jarrpa commented on #328
If you'd like continued help on this, please open a new Issue. :)

[2017-11-01 15:11] dimthe commented on #371
i ended up reinstalling the OS on these servers and starting over . i will close this and open a new issue

[2017-11-01 15:11] #371 closed

[2017-11-01 15:19] dimthe opened #383 "Unable to create node: New Node doesn't have glusterd running"
hello

i have glusterfs pod up and running
[code]

a describe will show this
[code]

from within a pod i check if glustefs is running. Note the centos03 hostname , thats because pods have public ips
[code]

the service runs on all nodes

when i try to create the topology i get this error

[code]

what is wrong ? @jarrpa

[2017-11-01 15:31] shevagit commented on #383
Hello, having the exact same problem, I used the up-to-date repo as suggested by [this issue](https://github.com/heketi/heketi/issues/881#issuecomment-337290660) , used latest tags as well as the dev tags with no luck.

[2017-11-01 15:45] jarrpa commented on #383
@dimthe Where is heketi running? What is your configuration? What's your topology file?

[2017-11-01 15:48] dimthe commented on #383
this is the heketi pod. i have tried heketi dev and latest all with the same error
this is a kube cluster deployed using kubespray on centos 7.4 bare metals
[code]

and this is the topology
 topology.json
[code]

[2017-11-01 17:16] jarrpa commented on #383
Are the names `centos0X` able to be resolved from within the containers? If uncertain, you should be able to test this with a busybox container, exec into it and see if it can ping or nslookup or whatever.

If not, you can either try to fix that or try switching the hostnames for IP addresses as well (just use the same IP as the "storage" ones).

If yes, let's have a look at the heketi logs just a

[2017-11-01 17:40] dimthe commented on #383
when i exec into one glusterfs pod it logs in the actual node that it runs on , because of the public ips

for example
[code]

where are the heketi logs? i can't find anything at all . its the latest version from here https://github.com/heketi/heketi/releases

[2017-11-01 17:45] jarrpa commented on #383
I'm mostly interested to see if the name resolution works at all. I was expecting you'd get the node IPs if it was. Did you paste the full output of `nslookup`? I only see the DNS server information, not the actual IP the name resolved to.

You can see the heketi logs by doing `kubectl logs <HEKETI_POD>`.

[2017-11-01 17:55] dimthe commented on #383
[code]
thats all the nslookup output

i didnt realize you wanted the heketi pod logs so here they are

[code]

[2017-11-01 18:30] shevagit commented on #383
@jarrpa

After failing the first time, I tried formatting all of my nodes and setting the glusterfs daemonset pods using StatefulSet. The pods started but failed with the error: “glusterfs service is not running”. I then rolled back to deployment and the pods had the same behavior. I never succeeded in making it work after that.

[2017-11-01 19:01] patrickstjohn commented on #369
We were able to workaround this by moving back to the heketi/heketi:latest container. You have to modify deploy-heketi-deployment.json as well as heketi-storage.json (as created by heketi-cli setup-openshift-heketi-storage)

[2017-11-02 12:41] dimthe commented on #383
glusterfs pods are using hostpath , heketi pod does not . Maybe this is why nslookups cant resolve from within the glusterfs pods ?

[2017-11-02 13:53] jarrpa commented on #374
@Justluckyg Any updates? If not I'll close this issue in a few days. :)

[2017-11-02 13:54] jarrpa commented on #378
@Justluckyg Did we manage to address your question adequately? If so, please close the issue. I'll close this in a few days if I hear nothing else. :)

[2017-11-02 14:23] jarrpa commented on #383
@shevagit Please either let us finish with the original issue first or start another Issue for yourself. :)

@dimthe hostPath has nothing to do with nslookup. hostPath just mounts a directory from the host the pod is running on, it does not affect name resolution in any way.

It looks like your DNS might not be set up properly. Either try to fix that or try switching the hostnames for IP addresses

[2017-11-02 14:25] Justluckyg commented on #378
@jarrpa yup thank you let me close this now!

[2017-11-02 14:25] #374 closed

[2017-11-02 14:25] #378 closed

[2017-11-02 14:34] dimthe commented on #383
hello

i replaces hostnames to ips and thisis the output

[code]

[2017-11-03 00:05] dimthe commented on #383
btw dns is working flawlessly , i have several applications running on the cluster and i have no dns issues , so it must be something else..

[2017-11-03 00:19] obnoxxx commented on #369
The problem is "Block: False" and "File: False" in the Cluster info.
They should actually both default to True.

If they are set to false, the behavior is as expected.

[2017-11-03 00:30] obnoxxx commented on #369
Oooh! Where is the heketi-cli coming from which is used in the gk-deploy-run?

[2017-11-03 00:32] obnoxxx commented on #369
I think this might be the root cause: a slightly older heketi-cli that does not know about the new cluster flags. The bug would be that the logic to set the defaults should be in the server, not in the client....

[2017-11-03 03:19] shadycuz opened #384 "heketi-storage-copy-job fails"
This is my second time setting up heketi/gluster. Last time worked great, but the speed of the PV's were kinda slow and my Master servers were too small. So when I deleted my cluster and spun up a new one I made the masters bigger and included extra storage so I could run glusterfs on them.

deploy output
[code]
error from job/pod

[code]

[2017-11-03 03:22] shadycuz commented on #384
oh boy.. Forgot the glusterfs-client .... I knew I should have wrote that ansible playbook the first time I set up those nodes =/.

[2017-11-03 03:29] shadycuz commented on #384
So I installed glusterfs-client and killed the pod, a new one came up and failed with different error.

[code]

[2017-11-03 03:34] shadycuz commented on #384
So I did some googling and installed some attr package which I don't remember doing last time. Now I get new errors.

[code]

[2017-11-03 03:57] shadycuz commented on #384
Double check all the little things like firewall rules, all seems okay.

this is the volume failing to mount in the pod
![image](https://user-images.githubusercontent.com/17090999/32360126-6cf25582-c029-11e7-956d-c24e5adfdffa.png)

I went and check the services but I don't have any endpoints for it.

![image](https://user-images.githubusercontent.com/17090999/32360144-913bb4ce-c029-11e7-9f1b-29ff8

[2017-11-03 04:08] shadycuz commented on #384
this cluster is busted, starting over in the morning.

[2017-11-03 04:08] #384 closed

[2017-11-03 05:32] gilgameshskytrooper opened #385 "Trouble creating cluster"
Following [this guide](https://techdev.io/en/developer-blog/deploying-glusterfs-in-your-bare-metal-kubernetes-cluster), I have been trying to set up a hyper-converged instance of GlusterFS running on top of Kubernetes using 3 nodes.

I first used losetup to create a 200GB file on each node. Then, I used a script at boot time to add the loopback devices
[code]
(Enabled via ```systemctl start loopba

[2017-11-03 05:50] SaravanaStorageNetwork commented on #385
You should not explicitly set a physical volume. This will be taken care by gk-deploy script.
In fact, you should provide only raw block devices.

After carrying out lvremove, vgremove and pvremove
could you try wiping of the block device. for example:

`wipefs -a -f /dev/sdb`

Then try out gk-deploy script.

[2017-11-03 17:32] obnoxxx commented on #369
I guess we figured it out. Bug remains in heketi and we can close this one.

@dougbtv please reopen if I missed anything.

[2017-11-03 17:32] #369 closed

[2017-11-03 18:11] gilgameshskytrooper commented on #385
I will try this and let you know how it goes

[2017-11-03 19:05] gilgameshskytrooper commented on #385
```wipefs -a -f /dev/loop200``` on the underlying OS yeilded same results

[2017-11-03 19:50] shadycuz opened #386 "Gluster performance tuning"
My first cluster of 3 nodes with 50gb SSD's landed me 30MB's in the cluster. I thought I would expand the cluster to 6 nodes and get double the performance.
[code]

I picked up about 8 or 9 MB's per second. My SSD's are capable of 250MB's. Is my performance bad? Can I increase it somehow?I don't think its the network, but I can run some tests from node to node and pod to node.

Thanks,
Levi

[2017-11-03 19:55] shadycuz commented on #386
Read is a bit more acceptable but not great.
[code]

[2017-11-03 19:58] JohnStrunk commented on #386
I'd definitely take a look at the network... If you're on a 1Gb network and using a replica 3 volume, you're pretty much at the limit: 1Gb/s ~ 120 MB/s ==> 120/(3 replicas) = 40 MB/s throughput.
If you're using 10G, then I'd expect better.

[2017-11-03 20:36] shadycuz commented on #386
@JohnStrunk It's my network, only 1Gb. Remember when 1Gb was all you thought you would ever need.... Closing this.

[2017-11-03 20:36] #386 closed

[2017-11-04 15:13] jarrpa commented on #383
@dimthe Sorry for the delay in response, got swamped over the last two days.

...that's just bonkers. What's the heketi logs from when you tried the topology load with IP addresses? Can you show me the output of `kubectl describe ds <GLUSTER_DS>` and the labels on all the nodes?

[2017-11-04 15:20] jarrpa commented on #383
@dimthe Also, if you don't have it configured such that your Kube-internal DNS names are resolvable outside the cluster, it makes sense that the GlusterFS containers wouldn't be able to resolve any cluster-internal names like "kubernetes" since they are using host networking. What I want to know is if a pod that is NOT using host networking (like heketi or a random busybox pod) can resolve the NOD

[2017-11-04 15:44] jarrpa commented on #385
@gilgameshskytrooper Can you find logs from the deploy-heketi pod corresponding to when it failed to add the other nodes?

[2017-11-04 23:15] gilgameshskytrooper commented on #385
![0c7c6b1c-b967-4c0f-814e-6e528430bea2](https://user-images.githubusercontent.com/7355573/32410365-226f9e98-c18c-11e7-9aee-308e776c7fa6.png)

[2017-11-05 15:36] #198 closed

[2017-11-06 15:00] jarrpa commented on #385
The command that is failing is `gluster peer probe`, which is what is used to add nodes to the cluster. Are you sure there are no instances of glusterd on the host where you are trying to run the GlusterFS pods? When you run the following:

`cd ~/gluster-kubernetes/deploy && ./gk-deploy -gy --abort && sudo vgremove -ff $(sudo vgdisplay | grep -i "VG Name" | awk '{print $3}') && sudo rm -rf /var/li

[2017-11-06 18:19] gilgameshskytrooper commented on #385
I did have glusterfs-client installed on all the nodes. Hence, I deleted them via ```sudo apt remove gluster```. Then I confirmed that no instance of glusterd was running via ```sudo systemctl status glusterd``` which results in
[code]
before reseting the previous gluster installation via the command ```cd ~/gluster-kubernetes/deploy && ./gk-deploy -gy --abort && sudo vgremove -ff $(sudo vgdisplay

[2017-11-06 18:25] gilgameshskytrooper commented on #385
Or from what I understand, you are saying that the Gluster-Kubernetes installation will fail if there is an underlying instance of glusterd running on the host OS? Hence I deleted glusterfs-client. However, it seems I get the exact same problem as before. Did I need to have a running instance of ```glusterd.service```?

[2017-11-06 18:43] #385 closed

[2017-11-08 20:54] gilgameshskytrooper opened #387 "Deleting volumes via heketi-cli works exactly once"
My set up: 3 Ubuntu 16.04 LTS node bare-metal cluster (2 workers getting IP's from a DHCP server running on master). Kubernetes 1.8.2, trying to run a [modified version](https://github.com/gilgameshskytrooper/stogit-gitlab-omnibus) of [gitlab-omnibus](https://gitlab.com/charts/charts.gitlab.io/tree/master/charts/gitlab-omnibus) to use GlusterFS as the storage provider rather than the default or GK

[2017-11-09 06:18] jarrpa commented on #387
Unfortunately, I have no experience with Helm charts, so I don't know what it's doing when it's deleting gitlab-omnibus.

The only thing that really stands out for me is the use of loopback devices. I understand that they are presented as functionally identical to actual block devices but we do not recommend going this route. There's a chance the problem is there.

heketi uses LVM commands to dire

[2017-11-09 14:46] clementnero commented on #366
I have the same problem, all bricks are changing devices after a restart.
Please help !

[2017-11-09 16:18] jarrpa commented on #366
@kwtalley Oh dear, my apologies for letting this sit for so long. :( I'm not sure I'm any better equipped to help than I was before, but I can give it a try. A few questions:
* Are you able to reliably reproduce this issue?
* What method are you using to restart Gluster? (e.g. just the pods, the whole nodes, etc.)
* What kind and configuration of storage devices are you providing in your topology

[2017-11-09 23:44] gilgameshskytrooper commented on #387
Any suggestions on how to set up an actual block device? I don't think I utilized LVM when I first installed Ubuntu on the nodes, so if the only way is to explicitly set a separate data partition, I would have to start over.

If there is an alternate approach I can take, please advise.

[2017-11-09 23:57] jarrpa commented on #387
You're not supposed to use LVM or do any setup on the block devices. They need to be bare block devices, with no partitions and no use by LVM. Since you're using bare-metal nodes, you would need to just add something like an HDD, an SSD, a JBOD, etc. that is intended only for use by GlusterFS/heketi.

I will mention that I am not a complete expert when it comes to block storage, so I don't know if

[2017-11-10 01:36] gilgameshskytrooper commented on #387
ahh! Good to know. I will get back to u when i set this up

[2017-11-10 10:23] clementnero commented on #366
@jarrpa  I have the same findings that @kwtalley, except that my kubernetes cluster is deployed on Azure (via acs-engine).

**Are you able to reliably reproduce this issue? What method are you using to restart Gluster? (e.g. just the pods, the whole nodes, etc.)**

In some previous tests I tried to delete/restart pod (handled by a Daemon Det) and restart the whole nodes, I never experienced this i

[2017-11-10 13:59] jarrpa commented on #366
@clementnero Are you able to reproduce it beyond this one disruption in Azure? Do you also have the same log messages as @kwtalley?

[2017-11-10 15:04] clementnero commented on #366
@jarrpa I am not able to reproduce it :(.
Yes, I have the exact same log messages as @kwtalley.

[2017-11-10 15:30] clementnero commented on #366
@jarrpa the HEKETI_FSTAB (/var/lib/heketi/fstab) is actually not mounted which explain why the detail status of volume's bricks show a different device (after this one disruption).

[2017-11-10 22:19] #362 closed

[2017-11-11 01:04] dusansusic opened #388 "Unable to create node: New Node doesn't have glusterd running - AGAIN"
I'm running 3 Ubuntu machines on AWS (all 3 in private subnet, internet access via NAT gateway), installed gluster 3.12 on all machines, killed glusterd because if I don't stop it and again start it, glusterfs containers will not start.

Using kubectl 1.8.0 is on 4th machine with your repo and access via ssh to other machines. the previous machines are nodes, this is only for kubectl and running s

[2017-11-11 01:12] jarrpa commented on #388
....my apologies, but that was really hard to follow. I'm not sure I understand your setup. Are you running Kubernetes on all 4 nodes? What version of Kube are you running? Are you trying to run containerized or non-containerized GlusterFS?

I also have no idea what this means: `Also,I'm running kubernetes with Rancher. Before running this stack, Kubernetes dashboard is available but running scrip

[2017-11-11 01:18] dusansusic commented on #388
oh, MY apologies :)

1. kubernetes is running on all nodes, but 3 ubuntu machines are running kubernetes, 4th node is node where is running  rauncher server container.
2. kubernetes is deployed with Rancher, everything is in containers, rancher and kubernetes.

[2017-11-11 01:24] jarrpa commented on #388
Okay... so the 3 Ubuntu machines are kube nodes, and the one other node is running RancherOS but is also a kube node... is it the master, I imagine? And you're also using it to run kubectl?

Also, you still haven't answered: What version of Kube are you running? Are you trying to run containerized or non-containerized GlusterFS?

[2017-11-11 01:37] dusansusic commented on #388
yes, exactly.

kubectl locally 1.8.0
kubernetes on rancher v1.7.7

[2017-11-11 01:48] jarrpa commented on #388
You're still not answering a few questions. :)

[2017-11-11 01:52] dusansusic commented on #388
I hope, I answered all now 💯

[2017-11-11 02:17] jarrpa commented on #388
Not entirely, but I'm deducing that you're trying to run containerized GlusterFS. That said, a few things:
* The only GlusterFS software you need on your Kube nodes is the mount.glusterfs command. On Ubuntu, I believe that's in the glusterfs-client package. Uninstall all other packages.
  * The GlusterFS containers use host networking, so any GlusterFS server running on the node would conflict wit

[2017-11-11 09:58] dusansusic commented on #388
I removed everything, reverted changes in gk-deploy script and ran the script again.

[code]

Logs of heketi pod:

[code]

[2017-11-11 10:55] dusansusic commented on #388
I've tried to change Rancher outside port to 58080:8080 but that doesn't help.

[2017-11-11 15:50] jarrpa commented on #388
The heketi pod does not share the network identity of the Rancher node, hence there shouldn't be a conflict. heketi is trying to communicate with the kubeapi service at `10.43.0.1:443`. This means that either it can't reach that IP address or that port is not open. Either way, you have a networking problem.

[2017-11-11 15:52] dusansusic commented on #388
Update:
I changed all ports in your *.yaml files from 8080 to 8081, and also gk-deploy script. Now Kubernetes dashboard is working. Now I have this error:

error log from heketi pod:

[code]

I want to mention that I removed everything with:

[code]

[2017-11-11 15:58] jarrpa commented on #388
....odd. Please answer all these questions:
* What do you have listening on port 8080?
* What nodes are they on?
* How are you accessing the Kube dashboard (e.g. what URL)?
* What do you have running in your cluster? Can you provide the output of `kubectl get svc,po --all-namespaces`?

That looks like the same error that you were getting before, right? So no progress made yet.

[2017-11-11 16:15] dusansusic commented on #388
- On master node0 -> rancher server.
- On node1, node2, node3 -> nothing 👎

[code]

I don't understand this question.

http://public_ip:8080/r/projects/1a7/kubernetes-dashboard:9090/#!/workload?namespace=default

Rancher & kubernetes stuff, trying to deploy just glusterfs.
I can give access Rancher dashboard if you want to take a look. 🥇

[code]

[2017-11-11 16:20] dusansusic commented on #388
Should I use non-default namespace?

[2017-11-11 16:38] jarrpa commented on #388
Default namespace should be fine.

Hmm... it feels like something is missing. What are you using for your cluster networking?

Also, I forgot to specify: can you run the previous `kubectl` command with `-o wide` at the end?

[2017-11-11 16:45] dusansusic commented on #388
Cluster networking is established with Rancher, it's using IPSec.

[https://imgur.com/a/LcnQ6](Take a look on this screenshots)

[code]

[2017-11-11 17:02] jarrpa commented on #388
I'm afraid I don't know enough about RancherOS to be very useful here. To me all I can see is that the heketi service running in the heketi pod can't access the kubernetes service at `10.43.0.1:443`. I would say try to verify the problem by running some other pod that expects to access the kubeapi. I'm not sure of a simple one to test right off the bat, unfortunately, but my hunch is that this won

[2017-11-12 22:47] olegsmetanin opened #390 "Error from server (NotFound): services "heketi" not found"
I have deployed Kubernetes cluster (1 master+2 nodes) using Kubespray on ScaleWay (Ubuntu Xenial, 16.04 latest)). When install gluster-kubernetes (origin/master, 2017-11-13) the gk-deploy script says "Error from server (NotFound): services "heketi" not found".

[code]

[2017-11-12 23:04] jarrpa commented on #390
What are you trying to do? You've clearly already deployed GlusterFS and heketi, so why are you running it again?

[2017-11-13 04:10] olegsmetanin commented on #390
Actually, it is first run of ./gk-deploy -gvy on ordinal Kubernetes installation without GlusterFS.
[code]

[2017-11-13 04:13] olegsmetanin commented on #390
[code]

[2017-11-13 07:01] raghavendra-talur commented on #366
@kwtalley @clementnero @jarrpa This is most likely happening because the brick devices haven't been mounted after restart. Please provide the contents of /etc/fstab and /var/lib/heketi/fstab from gluster nodes.

When heketi creates brick partitions, it stores the info in /var/lib/heketi/fstab(in kubernetes deployment) and in /etc/fstab(in non kubernetes deployment). Something in your deployments m

[2017-11-13 14:47] jarrpa commented on #390
....that doesn't make any sense. What's the output of `kubectl get pod --show-all --selector=glusterfs=pod`?

[2017-11-13 14:49] tlymki commented on #390
I have the same issue with Error from server (NotFound): services "heketi" not found,

kubectl get pod --show-all --selector=glusterfs=pod
No resources found.

[2017-11-13 14:59] tlymki commented on #390
./gk-deploy -g
Welcome to the deployment tool for GlusterFS on Kubernetes and OpenShift.

Before getting started, this script has some requirements of the execution
environment and of the container platform that you should verify.

The client machine that will run this script must have:
 * Administrative access to an existing Kubernetes or OpenShift cluster
 * Access to a python interpreter 'pytho

[2017-11-13 15:01] tlymki commented on #390
kubectl get all --all-namespaces
NAMESPACE     NAME                                       READY     STATUS    RESTARTS   AGE
default       po/busybox-3810894669-nl700                1/1       Running   4          3h
kube-system   po/elasticsearch-logging-v1-rgxj9          1/1       Running   0          4h
kube-system   po/elasticsearch-logging-v1-skvn1          1/1       Running   0          4h
ku

[2017-11-13 16:12] jarrpa commented on #390
@tlymki Please paste all output of the command I requested, including any whitespace, and enclose it in `` ``` `` marks.

[2017-11-13 16:21] tlymki commented on #390
[centos@k8s-master ~]$ ```kubectl get pod --show-all --selector=glusterfs=pod
No resources found.```

[2017-11-13 16:49] #390 closed

[2017-11-13 16:49] jarrpa commented on #390
@olegsmetanin @tlymki Should be fixed with https://github.com/gluster/gluster-kubernetes/pull/391. Please confirm.

[2017-11-13 17:19] clementnero commented on #366
@raghavendra-talur Yes it's what happened.

The content of `/var/lib/heketi/fstab` seems correct:
<pre>
/dev/mapper/vg_9e90479952d2710dc81a969d01b921dd-brick_4b488bc013e3204b9c77c8858d88ff08 /var/lib/heketi/mounts/vg_9e90479952d2710dc81a969d01b921dd/brick_4b488bc013e3204b9c77c8858d88ff08 xfs rw,inode64,noatime,nouuid 1 2
/dev/mapper/vg_1b62a5066b00c9d8063b0f305662f609-brick_ef1023bb94d91cc90570c78

[2017-11-13 21:28] olegsmetanin commented on #390
I confirm, this error has gone.

[2017-11-13 21:32] olegsmetanin opened #392 "Error waiting for job 'heketi-storage-copy-job' to complete."
I have deployed fresh Kubernetes cluster (1 master + 2 nodes) without GlusterFS. On each node I run
[code]
create topology.json with Private IP
[code]

After that I run ./gk-deploy -gvy
[code]

And get Error waiting for job 'heketi-storage-copy-job' to complete.

[code]

What is the problem?

[2017-11-13 21:36] jarrpa commented on #392
What's the error? If gk-deploy shows nothing useful, what's the output of `kubectl logs` and `kubectl describe pod` on the copy job pod?

[2017-11-13 21:37] olegsmetanin commented on #392
[code]

[2017-11-13 21:39] olegsmetanin commented on #392
[code]

[2017-11-13 21:42] olegsmetanin commented on #392
[code]

[2017-11-13 21:45] olegsmetanin commented on #392
[code]

[2017-11-13 21:46] jarrpa commented on #392
Please stop spamming more information in separate comments. Wait until you've collected all the information you intend to share then post a comment. Let me know when you're done.

[2017-11-13 21:50] olegsmetanin commented on #392
Output from "kubectl describe pods heketi-storage-copy-job-zzqq7" is in the first message.

[2017-11-14 08:09] clementnero commented on #366
@kwtalley can you provide the content of your gluster-setup.service 's logs please ?

[2017-11-14 10:46] tlymki commented on #390
Yes, everything works good enough, thnx

[2017-11-14 12:54] jarrpa commented on #366
@clementnero I thought I had replied to your earlier comment, but it seems that was just a delusion on my part.

Commits are always welcome. :) If it's a change to the GlusterFs container we are currently working on bringing them up to date so a PR or Issue against https://github.com/gluster/gluster-containers would help us track this.

[2017-11-15 02:02] gilgameshskytrooper opened #393 "What format should the underlying "raw format device be in?""
Before I start, thanks for the help last time.

Now I'm back to the grind with some fresh hardware (2 SATA internal HDD's for the worker nodes, and a usb external drive for the master node, all on Ubuntu 16.04 LTS).

To start, I attempted to format all the drives as `ext4` via the command `mkfs.ext4 /dev/sdb`. However, during deployment, the script hangs up on creating the first node.

[code]

---

[2017-11-15 02:12] jarrpa commented on #393
When we mean "raw block devices" we mean there should be no formatting at all. No partitions, no filesystem, no LVM artifacts, nothing. We suggest doing `wipefs -a` to make sure you get everything.

[2017-11-15 02:14] JohnStrunk commented on #393
The raw devices should be just that: an unpartitioned raw block device.
Heketi will take care of everything on top of that.

- John (mobile)

On Nov 14, 2017 9:02 PM, "Andrew Lee" <notifications@github.com> wrote:

[2017-11-15 06:11] olegsmetanin commented on #384
I have the same problem

[2017-11-15 09:22] clementnero commented on #366
@jarrpa I'm actually using docker image gluster/gluster-centos:gluster3u9_centos7 which has not been built (even the most recent one) with the [last version](https://github.com/gluster/gluster-containers/tree/master/CentOS) of, Makefile, glusterfs-setup.service, and glusterfs-setup.sh, which introduce a dependance between glusterd.service and gluster-setup.service. It ensures that if gluster-setup

[2017-11-15 14:14] raghavendra-talur opened #394 "gluster blockd status should be checked in liveness/readiness probe"
Gluster container also has gluster-blockd service running. In some cases, user might want pod to fail readiness probe if gluster blockd is not running. This can be achieved by making a script as readiness checker which has checks in the following way
[code]

[2017-11-15 14:24] jarrpa commented on #384
@olegsmetanin I'm not sure which problem you mean, he mentioned at least three of them. Feel free to open a new Issue to discuss your problem.

[2017-11-15 14:26] jarrpa commented on #366
@clementnero ....you mean that gluster/gluster-centos:latest doesn't use the master branch version of the CentOS directory?

[2017-11-15 14:28] jarrpa commented on #394
@raghavendra-talur Do you think we should do that in the pod spec or implement it as a script in the container?

[2017-11-15 14:54] clementnero commented on #366
@jarrpa I mean the last update of [gluster/gluster-centos:gluster3u9_centos7](https://hub.docker.com/r/gluster/gluster-centos/tags/).

[2017-11-15 18:29] olegsmetanin commented on #392
Is the information provided enough?

[2017-11-15 20:33] jarrpa commented on #366
@clementnero So you're saying gluster/gluster-centos:gluster3u9_centos7 did not work for you but gluster/gluster-centos:latest did?

[2017-11-15 20:40] jarrpa commented on #392
@olegsmetanin I was waiting for you to tell me you were done. :)

Let's see... offhand it looks like the node hosting the heketi-copy-job pod wasn't able to mount the heketidbstorage GlusterFS volume. Try to see if you can mount the volume manually on the node that tried to run the copy job pod.

Also, just to be sure, do you have firewalls running and are they properly configured?

[2017-11-15 21:50] olegsmetanin commented on #392
[code]

[code]

[code]

I am not able to mount heketidbstorage on node:
[code]

[2017-11-15 21:55] jarrpa commented on #392
@olegsmetanin Do you have firewalls running and are they properly configured?

[2017-11-15 22:56] gilgameshskytrooper commented on #393
For now, this seems to work (i.e., `./gk-deploy` can initialize all the nodes without a problem)

[2017-11-15 22:56] #393 closed

[2017-11-16 03:28] olegsmetanin commented on #392
I have default iptables configuration on Ubuntu 16.04.3 LTS, all ports enabled. telnet command above shows that gluster ports of different nodes are available.

[2017-11-16 12:47] jarrpa commented on #392
@olegsmetanin Right, but there are other ports that need to be open as well. As long as all are open that should do.

Hmm... check `/var/log/glusterfs/` on the node where you tried to do the mount, there should be mountpoint-specific logs that may have more information.

[2017-11-16 21:24] olegsmetanin commented on #392
Looks like nothing interesting.
[code]

[2017-11-16 22:01] jarrpa commented on #392
@olegsmetanin ....that's a stack trace. Something is going dreadfully wrong. What version of `glusterfs-client` is installed on your Ubuntu machines and what's the version of Gluster running in the containers (`gluster --version`)?

[2017-11-17 00:07] zrahui opened #395 "cluster.consistent-metadata on fails to mount"
We're having an issue where volumes created with the volumeoption: cluster.consistent-metadata on fail to mount. We've specified the volumeoption in the StorageClass as follows:
[code]
The following log is pulled from glusterfs
[code]
I've noticed that if i deploy a Pod with a PVC; I am also unable to set the volumeoption after in gluster as the following error occurs:
[code]
Now bear with me beca

[2017-11-17 00:47] jarrpa commented on #395
What version of the mount.glusterfs command is installed on your Kube nodes? On RH-based OSes this is the `glusterfs-fuse` package. What version of GlusterFS is running on your Gluster nodes? `gluster --version` would do.

[2017-11-17 01:04] zrahui commented on #395
Ah ok, we've got Ubuntu nodes, (forgot about checking the node gluster version).
Running `glusterfs --version` on the nodes returns 3.7.6.
Running `gluster --version` on the Pods returns 3.12.1

[2017-11-17 01:13] jarrpa commented on #395
You'll definitely need to update your version of `glusterfs-client` on your Ubuntu nodes, the version difference is to great. :)

We don't officially have 3.12 in a container yet, which image are you using?

[2017-11-17 01:15] jarrpa commented on #395
Oh, just in case, you can find PPAs for GlusterFS releases here: https://launchpad.net/~gluster

[2017-11-17 01:18] zrahui commented on #395
Cool, thanks for the help, `apt install glusterfs-client` only got me to 3.8.15.
Were you meaning the glusterfs image? I don't think i changed anything from the default kube-templates. `image: gluster/gluster-centos:latest`

[2017-11-17 01:24] jarrpa commented on #395
Oh! Okay then, I was just confused by the version number, don't mind me!

I can't guarantee 3.8 will work with 3.12, but give it a shot! If we've helped you out sufficiently please close this issue.

[2017-11-17 01:41] zrahui commented on #395
Still seem to be getting the issue when attempting to mount the volume with that option configured:
[code]
As soon as I set `gluster volume set vol_79a0df39d36ff104ce2ea12c6ab15261 cluster.consistent-metadata off` then Kubernetes successfully mounts the volume.

[2017-11-17 03:18] jarrpa commented on #395
Try the 3.12 client if you can.

[2017-11-17 03:56] zrahui commented on #395
Sorry should have clarified, this was with the 3.12 client.

[2017-11-17 04:16] olegsmetanin commented on #392
node (Ubuntu 16.04.3 LTS (Xenial Xerus))
glusterfs 3.7.6 built on Dec 25 2015 20:50:46

https://packages.ubuntu.com/search?keywords=glusterfs-client&searchon=names

gluster container (CentOS Linux release 7.4.1708 (Core))
glusterfs 3.12.1

I installed kubernetes cluster on CentOS 7.4 a few days ago and got the same errors (about transport endpoint is not connected).

I can write manual how to repr

[2017-11-17 05:18] olegsmetanin commented on #392
on Node:
add-apt-repository ppa:gluster/glusterfs-3.12
apt-get update
apt-get install -y glusterfs-client

glusterfs --version
glusterfs 3.12.3

I am able to mount without errors on node. I will try to reinstall gluster-kubernetes later.

[2017-11-17 20:10] olegsmetanin commented on #392
You were absolutely right, it was a problem with a version of glusterfs-client. Commands above fixes the problem. The issue is resolved.

[2017-11-17 20:46] jarrpa commented on #392
Glad to hear it! :)

[2017-11-17 20:46] #392 closed

[2017-11-17 23:32] ionsquare commented on #388
I'm having this same problem as well (also with Rancher). I think the problem might have something to do with the kube-api server running on port 6443 instead of 443.

Just a clarification - Rancher is not an OS, it's a container management platform that makes setting clusters up really easy. You add nodes to the rancher cluster with a single command in a terminal on each of the hosts you want to

[2017-11-17 23:41] jarrpa commented on #388
Ahhh, okay... but there IS such a thing as RancherOS. :) http://rancher.com/rancher-os/ I just hadn't heard of Rancher outside that context.

....that sounds like it would do it. Try editing the heketi pod spec to specify an env variable like `HEKETI_KUBE_APIHOST='https://<KUBEAPI_ADDR>:6443'` and see if that helps.

[2017-11-18 02:15] gilgameshskytrooper commented on #393
I have no further issues arising from GlusterFS! Thanks such much @jarrpa and @JohnStrunk for all your help!

[2017-11-18 02:16] #387 closed

[2017-11-18 13:30] jarrpa commented on #388
Actually, wait, that doesn't make any sense. heketi should be getting that information from kubernetes already. How does deployment with Rancher work? Is Kubernetes being configured to advertise the kubeapi using the altered port?

[2017-11-18 22:43] dusansusic commented on #388
[code]
this is a command that's used for running kubelet.

And there is a list of endpoints:
[code]

So actually, it seems that kubernetes is liestening on 6443 but Heketi is trying to get information from :443, no?

[2017-11-18 22:49] dusansusic commented on #388
deployment is working as with native kubernetes, using kubectl or via UI. I used your script => kubectl.

[2017-11-19 00:55] jarrpa commented on #388
If you look at that plus earlier data, you see:
[code]
[code]
Thus heketi, being inside the cluster, is trying to reach the kubernetes Service address of  `10.43.0.1:443` which is supposed to send traffic to the kubernetes Endpoints of `10.42.224.29:6443`. The question, then, is what is failing to listen along that route? I must imagine the `6443` must be listening, otherwise there wouldn't be a c

[2017-11-19 09:34] dusansusic commented on #388
Tried, doesn't return anything.

[2017-11-19 15:17] jarrpa commented on #388
As in an empty return or an error? Try just `https://10.43.0.1:443/api/v1`. If nothing, there might be something wrong in your cluster networking. See if you can replicate this problem with another pod that expects to use the kubeapi for something, typically monitoring or managing other pods.

[2017-11-19 16:34] jarrpa commented on #388
Oh, wait, just waiting you said... okay, that matches what we're seeing with heketi. It wouldn't hurt to still check if you can replicate it with another application, but I'm more certain now that something's wrong with your internal networking.

[2017-11-20 06:15] euiko commented on #388
Hi, I've same problem with @dusansusic, I'm using Rancher for manage and setup my kubernetes cluster. Everything goes well until I run gk-deploy command, the Kubernetes Dashboard become unavailable. Dashboard's and heketi logs give timeout message.

[2017-11-20 07:13] euiko commented on #388
Like @jarrpa said the problem is with the internal network. I've found the internal network on Rancher run on the network-service stack, just restart the network manager and metadata on Rancher's Infrastucture Stack and its now working
Thanks :)

[2017-11-20 08:02] dusansusic commented on #388
@euiko you're saying that after restarting network-service stack GlusterFS and Heketi are working?
It's odd, I tried that right now and it's not working. Also, I changed Heketi port from 8080 to 8081 and kuberenetes dashboard is working without issues.
@jarrpa you should try Rancher, it's totally cool. You need two VM's, docker command for server and agent start and that's all. :)

[2017-11-20 15:04] jarrpa commented on #388
@euiko Excellent! :D

@dusansusic If I had I all the time in the world... ;) Changing the heketi port should not affect anything. The heketi container listens on port 8080, but it doesn't use host networking. Anything that wants to talk to heketi would talk to the Service IP which listens on port 80 and then forwards to the container's port 8080.

[2017-11-20 17:00] dusansusic commented on #388
@jarrpa without changing it, kubernetes dashboard is not working :)

[2017-11-20 17:21] jarrpa commented on #388
@dusansusic Something is definitely wrong with your setup, then, as that should not be the case.

[2017-11-20 19:11] ionsquare commented on #388
When I do `curl https://10.43.0.1:443/api/v1/namespaces/default/pods?labelSelector=glusterfs-node` (from inside the cluster of course) I immediately get an "unauthorized" response, but if I add the bearer token from my kube config, I do get a proper response:

[code]

I still get a timeout when trying to load the topology though.

@dusansusic this might be a dumb question, but did you curl from in

[2017-11-21 08:04] dusansusic commented on #388
@ionsquare yeah, i reproduced the same result as you are. I got unauthorized/authorized (withBearerToken) response but an error when  Heketi should load topology.

[2017-11-22 01:28] renich commented on #388
I just want to say that I wasn't getting passed the glusterfs pod creation. This cleanup comment saved me! `sudo rm -rf /var/lib/heketi /etc/glusterfs /var/lib/glusterd /var/log/glusterfs && wipefs -a /dev/vdX`

This should be in the documentation.

[2017-11-22 08:15] dusansusic commented on #388
@renich good for you but it doesn't have anything our issue, heketi is not able to reach kube api.

[2017-11-23 09:31] yu-yang2 opened #396 "why do you recommend glusterfs set 3 replicas not 2?"
I notice the readme `https://github.com/gluster/gluster-kubernetes/blob/master/docs/examples/dynamic_provisioning_external_gluster/README.md` recommend to use 3 replicas in a 3 nodes cluster, why not use 2? Dosen't it save more space?

[2017-11-23 09:53] yu-yang2 commented on #284
before run `./gk-deploy`, do I need `pip install plumbum` first?

[2017-11-23 10:19] SaravanaStorageNetwork commented on #284
not required, this issue is RFC(for rewriting gk-deploy).

[2017-11-23 11:17] SaravanaStorageNetwork commented on #396
@yu-yang2  It is explained in the same document.

You will find more info. on the same topic here:
http://docs.gluster.org/en/latest/Administrator%20Guide/arbiter-volumes-and-quorum/#split-brains-in-replica-volumes

[2017-11-23 11:21] SaravanaStorageNetwork commented on #396
In future, arbiter volume may be supported, where can help to save more space.

Third brick only saves the metadata information, not complete data.
Refer here for more info.
http://docs.gluster.org/en/latest/Administrator%20Guide/arbiter-volumes-and-quorum/

[2017-11-23 11:51] yu-yang2 commented on #396
@SaravanaStorageNetwork , thanks for your explanation, it helps me a lot

[2017-11-23 11:51] #396 closed

[2017-11-23 12:48] nixpanic commented on #23
I'll look into getting a test included in the [gluster-patch-acceptance-tests](https://github.com/gluster/glusterfs-patch-acceptance-tests/) repository.

[2017-11-24 08:28] Liangming666 opened #398 "Heketi Failed to find a list of pods!!!!!"
I did't us gk-deploy,and I create deploy-heketi.yaml successfully,but when I use this command:

	heketi-cli topology load --json=topology.json

to create devs,it did't work,here is the log in deploy-heketi pod:
![qq 20171124162534](https://user-images.githubusercontent.com/26807536/33201602-3710fdd0-d134-11e7-80d4-2384963a4df4.jpg)

It seemed like it can't get pods which labelselect is glusterfs-n

[2017-11-24 10:23] yu-yang2 commented on #398
Why don't you use gk-deploy?

[2017-11-24 12:54] Liangming666 commented on #398
Just now I used gk-deploy,and the result is same... still can't get list of pods,
my kubernetes version is 1.8.2

[2017-11-24 12:54] Liangming666 commented on #398
@yu-yang2

[2017-11-24 14:25] jarrpa commented on #398
@Liangming666 Is there any way you could copy the actual text of your logs rather than sending photos?

The error I'm seeing is usually indicative of a networking problem within the cluster. Indeed, the fact that I'm seeing those kube-proxy errors would also indicate that. How did you deploy your Kube cluster? Are you running any other application pods on it?

[2017-11-24 14:45] Liangming666 commented on #398
@jarrpa I didn't running any other application pods on it,my master node ip is 192.168.3.9,kubernetes service ip is10.254.0.1
when i run
curl 192.168.3.9:8080
it was right,but when i run 10.254.0.1,there is connection refused.

Just now I create a Nginx pod an service to valid is there a network problem,and I think there may be some errors about that.
I use the follow yaml file to create a pod and

[2017-11-24 14:51] Liangming666 commented on #398
why it was refused when I run

curl 10.254.27.3:8080

[2017-11-24 15:24] Liangming666 commented on #398
@jarrpa I didn't run any other application pods on it,my default kubernetes service ip is 10.254.0.1
and the error was caused when the pod GET 10.254.0.1,my master node ip is 192.168.3.9,when i run this
curl 192.168.3.9:8080 or curl 192.168.3.9:6443 it responsed,
but when I run this
curl 10.254.0.1:443 it refused,is there any errors about secure?

to valid is there a network problem,I create a tom

[2017-11-24 15:30] jarrpa commented on #398
@Liangming666 A tomcat pod by itself won't tell you if there's a networking problem within the cluster. You need to deploy a pod that will try to communicate either with other pods or the kubeapi. One way to test this might be to deploy a busybox pod then run `curl http://kubernetes:443` or something like that.

Also, you didn't answer my question. I can't properly help you without more context.

[2017-11-24 15:54] Liangming666 commented on #398
@jarrpa wow... After I run the tomcat pod,The error disappeared....thx
another question: can I use USB driver as the glusterfs device

[2017-11-24 16:11] Liangming666 commented on #238
@Scukerman Hi,Scukerman,I meet the same error as you have before
dding device /dev/sdd ... Unable to add device: Unable to execute command on glusterfs-6jdcf:   Can't open /dev/sdd exclusively.  Mounted filesystem?

I use the USB driver as the glusterfs device,How did you clear the error?

[2017-11-24 16:32] jarrpa commented on #398
@Liangming666 As long as the GlusterFS pods see them as raw block devices (e.g. `/dev/sdb`) they should work.

Please close this issue if the problem has been resolved to your satisfaction. :)

[2017-11-24 16:45] jarrpa commented on #238
@Liangming666 The block device must be bare, meaning that it is not mounted, has no filesystem, no partitions, and no LVM volume data. The easiest way to ensure this is to unmount any volumes from the device and then do `wipefs -a /dev/sdd` (or whatever name your device has).

[2017-11-25 03:31] #398 closed

[2017-11-25 09:52] Liangming666 opened #402 "heketi pod failed mount for volume "db"!"
I use gk-deploy,and it seemed going to be success,when it waited for heketi pod start,I found that the heketi pod had errors,here is the log of gk-deploy:

[Y]es, [N]o? [Default: Y]: Y
Using Kubernetes CLI.
Using namespace "default".
Checking for pre-existing resources...
  GlusterFS pods ... not found.
  deploy-heketi pod ... not found.
  heketi pod ... not found.
  gluster-s3 pod ... not found.

[2017-11-25 10:29] Liangming666 commented on #402
SetUp failed for volume "db" : mount failed: mount failed: exit status 32

[2017-11-25 10:29] #402 closed

[2017-11-25 10:47] Liangming666 opened #403 "Unable to start application!"
the heketi pod is unable to start application...

I run kubectl describe pods heketi-596b57d45d-qtz2z,here is the log:

Events:
  Type     Reason                 Age               From               Message
  ----     ------                 ----              ----               -------
  Normal   Scheduled              1m                default-scheduler  Successfully assigned heketi-596b57d45d-qtz

[2017-11-25 11:54] Liangming666 commented on #403
Just now I run gk-deploy again,this time the glusterfs-dameonset is wrong

the glusterd.service in glusterfs-pod of my master node dead, and i don't know why,,, it was all right before

here is the log

[root@node0 /]# systemctl status glusterd.service
● glusterd.service - GlusterFS, a clustered file-system server
   Loaded: loaded (/usr/lib/systemd/system/glusterd.service; enabled; vendor preset:

[2017-11-25 11:55] Liangming666 commented on #403
before I rerun gk-deploy,I found one of my node dosen't have gluster-client,then intall gluster-client,and then I
restart gk-deploy,then have this error

[2017-11-25 14:42] jarrpa commented on #403
@Liangming666 First off, please use `` ``` `` to enclose any text that you are copying from the terminal. I have edited your previous comment as an example. :)

Two things:
* How are you re-running gk-deploy? Are you destroying or cleaning the environment before each run?
* What are the events listed when you run `kubectl describe po` on the GlusterFS pod?
* Check the logs in `/var/log/glusterfs`,

[2017-11-25 15:05] yu-yang2 opened #404 "Delete pvc sometimes may not delete volume in heketi"
As far as i know, delete pvc will clean the volume in heketi, but I found some times delete pvc will not delete the volume in heketi, and pv keeps `Released` status, how can i delete them all if I only delete pvc?

[2017-11-25 15:11] Liangming666 commented on #403
wo,Thanks for you suggestions,I'm new to this.

Fisrt things:Each time a re-running gk-deploy,I delete everything gk-deploy created such as gluster demeonset , heketi deployment,service-account,service.And I check on my dashboard,Each time I re-running gk-deploy,there is noting left before.

Second things,before my master node's gluster dameonset get bad,kubectl describe pod's log is:
[code]
there

[2017-11-25 15:50] jarrpa commented on #404
How are you creating your PVCs? Does `kubectl delete pv <PV_NAME>` work?

[2017-11-25 16:03] yu-yang2 commented on #404
@jarrpa this is my pvc yaml:
[code]

`kubectl delete pv <PV_NAME>` works but also can not delete volume in heketi, so if i want to delete a volume, i need call API to `delete pv, pvc, heketi volume`, that sucks.

[2017-11-25 16:07] jarrpa commented on #404
What's the YAML definition for your StorageClass and one of your PVs?

[2017-11-25 16:10] yu-yang2 commented on #404
@jarrpa
pv:
[code]

storageclass
[code]

[2017-11-25 16:15] jarrpa commented on #404
Hmm... try to delete a bound PVC, then check `kubectl logs <HEKETI_POD>` to see if there's any logs of the delete activity.

[2017-11-25 16:17] yu-yang2 commented on #404
@jarrpa
most of time delete pvc, `pv, heketi volume` will be deleted at the same time(heketi volume late about one minute), I don't know how to make this bug, just find there are few garbage volumes.

[2017-11-25 16:19] jarrpa commented on #404
So you're saying that most of the time when you delete a PVC the PV and heketi volume get successfully deleted as well? Check the heketi logs anyway and look for any errors. Offhand, I'm guessing you might be able to reproduce this if you delete more than one PVC in rapid succession.

[2017-11-25 16:20] yu-yang2 commented on #404
maybe I do need call API 3 times to delete one volume. (sad face)

[2017-11-25 16:21] yu-yang2 commented on #404
@jarrpa ok , I'll try, thanks for your help, you are good guy

[2017-11-26 03:02] yu-yang2 commented on #403
@Liangming666 Can you give me you Wecha? I'm using k8s glusterfs in Changsha, let's keep in touch.

[2017-11-26 04:27] yu-yang2 commented on #404
@jarrpa Your guess is right, after some load test, there are many pvs and heketi volumes left, but still can't find any error messages in heketi logs, I export all the heketi logs and global search `ERROR`.

[2017-11-27 02:01] #403 closed

[2017-11-27 02:45] #404 closed

[2017-11-27 18:35] paprickar commented on #388
Exact same issue as @dusansusic got.

[kubeexec] ERROR 2017/11/27 18:27:28 /src/github.com/heketi/heketi/executors/kubeexec/kubeexec.go:302: Get https://10.43.0.1:443/api/v1/namespaces/default/pods?labelSelector=glusterfs-node: dial tcp 10.43.0.1:443: i/o timeout
[kubeexec] ERROR 2017/11/27 18:27:28 /src/github.com/heketi/heketi/executors/kubeexec/kubeexec.go:303: Failed to get list of pods

Ranch

[2017-11-27 19:18] jarrpa commented on #388
So you're saying you tried the following from the heketi pod?
[code]

And it doesn't work? Can you try it from another pod, like a busybox pod?

Can you also check CPU and memory usage on your master node?

[2017-11-27 20:44] jarrpa commented on #388
@dusansusic @paprickar Not sure if this'll help, but I just ran into an error with weave (my networking plugin). I was using an outdated version from 1.6, and since 1.6 Kube has introduced NetworkPolicy objects. It seems that in Kube 1.8 something has changed in either its defaults or kubeadm (which I used) to require stricter NetworkPolicies. I updated weave and it things work fine again.

[2017-11-27 20:49] paprickar commented on #388
Thanks @jarrpa i will reinstall my cluster and see if it then works

[2017-11-27 21:58] dusansusic commented on #388
But this is the same error I am getting from HEKETI container. From other containers also! But when I deploy busybox and perform a curl, it's unauthorized. Read guys, it's already written. @paprickar i reinstalled cluster like 100x times and I did not get it working.

[2017-11-27 22:15] jarrpa commented on #388
@dusansusic Best I've been able to read thus far most of what you just described is not clear from your previous messages. :P Have you tried the curl command from a busybox pod with the `KUBE_TOKEN` variable as I pasted above?

Regardless, it definitely sounds like there's something amiss with your Kube installations, especially if @dusansusic reports the same problem from other containers.

[2017-11-28 00:06] renich commented on #388
@jarrpa OK. Here's my installation output. It fails on the part where we try to get the service URL from jeketi:

[code]

Now, in my case, I've located the node where jeketi is running and ran `docker exec -it <id-of-the-jeketi-container> /bin/bash`. Then, I ran:

[code]

[2017-11-28 00:40] jarrpa commented on #388
@renich First I'll note that there's no `j` in `heketi`. ;)

So far you're replicating current behavior. I want you to do the same exec and curl sequence in a different container. This will prove whether or not there is a problem only with the heketi container. If the other container fails as well, this indicates a much larger networking problem in your cluster, in which case you're better served

[2017-11-28 08:56] davistran86 opened #405 "Is there any solution to backup and restore data, replace glusterfs nodes ?"
Hi, I'm running glusterfs and heketi on openshift cluster, I would like to need some help about how to backup and restore if the glusterfs nodes die ?
Can I replace a new node with the old one by editing the topology.json and rerun gk-deploy ?

[2017-11-28 14:20] jarrpa commented on #405
As far as backup goes. all GlusterFS volumes created by heketi are by default 3-way replica. This means that for any given volume the data is replicated on three different nodes. If you've specified any zones, then they will be as evenly distributed across as many nodes as possible (up to 3 in the replica-3 case).

On the node replacement, I'll quote @obnoxxx:

 Let us know if this helps. :)

[2017-11-29 00:35] renich commented on #388
@jarrpa actually, everything went fine after reinstalling kubernetes + flannel using kubeadm. My installation went on fine after that.

[2017-11-29 02:21] davistran86 commented on #405
Thanks @jarrpa , so if 1 node failed, can I use gk-deploy to add another node to existing glusterfs cluster ? like edit topology.json, replace info of failed node inside with new one, and run ./gk-deploy -y ?

Sorry I'm new to this so still trying to learn how to use it. Thanks a lot :)

[2017-11-29 02:29] jarrpa commented on #405
Not quite. You want to use the `heketi-cli` tool. You can find it by running `kubectl exec -it <HEKETI_POD> bash` then using `heketi-cli -s http://localhost:8080 --user admin` to run `heketi-cli` commands. You'll be most likely interested in the `node remove` and `node add` commands. Be sure to read the help messages thoroughly. :)

[2017-11-29 04:36] davistran86 commented on #405
@jarrpa thanks, got it :)

[2017-11-30 08:37] paprickar commented on #388
FYI:
I am now using kubespray (ansible setup) which seems to work (at least does not have the timeout error)

[2017-11-30 17:23] clementnero commented on #366
@jarrpa sorry I didn't see your last message. Yes it's what I meant.

[2017-12-01 13:17] jciniburk commented on #160
Hi,
I may have the similar issue. I have been following installation steps described in https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md. But the script run ended with an error. The script created heketi-storage-copy-job-vgbck pod and this pod ended in ContainerCreating state. With command: kubectl describe pods heketi-storage-copy-job-vgbck I retrieved following error

[2017-12-01 14:16] jciniburk commented on #160
Sorry, I missed the part in the setup-guide.md about installing the glusterfs-client on the kubernetes nodes and making mount.glusterfs available. It is sufficient to install glusterfs-client on Ubuntu 16.04. Simply run sudo apt-get install glusterfs-client.

[2017-12-01 14:59] jarrpa commented on #160
Whew, I thought I had missed something. :)

As the appropriate requirement has been documented both in the tool and in the Setup Guide, closing this issue.

[2017-12-01 14:59] #160 closed

[2017-12-02 09:26] raghavendra-talur commented on #394
@jarrpa script in the container. pod spec should only refer to the script.

[2017-12-11 11:52] rporres commented on #21
I guess that comes from the Docker image itself in https://github.com/gluster/gluster-containers... Docker run command in the example mounts log volume too.

I don't see that Gluster supports STDOUT logging in http://docs.gluster.org/en/latest/Administrator%20Guide/Logging/

[2017-12-11 16:19] jarrpa commented on #21
@rporres It doesn't, but I've [played some kinda nasty tricks](https://github.com/jarrpa/gluster-containers/blob/debian-minimal/Debian/gluster-setup.sh) to get it to log to stdout in my experimental containers. ;) Not sure if/when this will make it to the mainline containers, however.

[2017-12-11 16:47] rporres commented on #21
That looks cool. I started to think in doing something like that creating a link to `/dev/stdout` but stopped thinking in that direction when I saw that there are things like brick's logs that you won't know the name beforehand... I'm a total noob here but I have the impression that this is something that has to be addressed at an application level

[2017-12-11 16:55] jarrpa commented on #21
@rporres Oh it most certainly does. I can run glusterd in non-daemon mode, but I'm not sure if that's enough to capture the logs from all the subprocesses it spawns. :/

[2017-12-11 17:10] rporres commented on #21
Is there any reason why gluster is running in daemon mode? I guess it is quite standard practice to do it in container processes...

[2017-12-11 17:14] jarrpa commented on #21
@rporres It has to because we use systemd to launch and manage multiple processes in the mainline container images. I can get away with starting it in non-daemon mode because I get rid of systemd and just run them as background processes from a bash script.

[2017-12-12 09:16] raghavendra-talur opened #406 "error not checked after json.load"
If a topology file with error is provided, json.load might fail with `ValueError: No JSON object could be decoded` error. However, the error isn't checked and empty $NODES is passed down to commands further below in the script.

For example:
Provides list of devices with a section like this:
[code]

Notice the , after single device name.

[2017-12-14 11:33] Flow76320 opened #407 "gk-deploy - setup-openshift-heketi-storage task makes GCE VMs crash"
Hi,
I'm trying to install Heketi to manage GlusterFS on a 1 master / 3 nodes Google Compute Engine platform.
All images are:
- based on CentOS-7 GCE image
- 4 vCPU
- 16 Go memory
Nodes:
- 1 main disk with centos-7
- 1 raw additional disk (/dev/sdb) without any partition.

I followed https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md.
Everything is deployed with Ansible o

[2017-12-14 15:58] jarrpa commented on #407
Oh dear. This is the first I hear of this. Do you have access to any logs on the affected nodes that might indicate what the operation was that caused the crash? I believe heketi runs pvcreate on the nodes when adding the devices during the topology load, so at least that seems to complete successfully...

If you have any way to capture the logs from the heketi pod such that you can view them afte

[2017-12-14 16:05] Flow76320 commented on #407
Sure, I'm trying to deploy on Ubuntu 16.04 to see if it's related to CentOS 7.4 kernel or not. I'll make another installed a bit later to give you logs.

Yup, topology loading is successful. The crash occurs during the next step, when the lvcreate is involved. When I launch the generated command by hand, my VM crashes.

I'll keep up to any news on that

[2017-12-15 08:31] Flow76320 commented on #407
Sure, I'm trying to deploy on Ubuntu 16.04 to see if it's related to CentOS 7.4 kernel or not. I'll make another installed a bit later to give you logs.

Yup, topology loading is successful. The crash occurs during the next step, when the lvcreate is involved. When I launch the generated command by hand, my VM crashes.

I'll keep up to any news on that

[2017-12-15 08:55] Flow76320 commented on #407
@jarrpa Some news, it seems that this bug does not occur on Ubuntu 16.04 VMs.

[2017-12-15 14:17] jarrpa commented on #407
@Flow76320 Very odd... I use CentOS 7.4-based VMs and don't run into this. Might be GCE-related or GCE+CentOS at this point?

[2017-12-19 14:23] alvarosIGZ opened #408 "Add a PVC with ReadWriteMany"
Hello,
So I have my GlusterFS deployed in Kubernetes and I have to deploy a document manager app.
It has 2 pods, and both of them should use a glusterfs volume, both writing and reading.
Is there any problem with inconsistences? Can I use a PVC in ReadWriteMany?
I didn't find information about it.

Thanks in advance

[2017-12-19 14:48] jarrpa commented on #408
Yup, that is in fact the main mode we operate in. :)

[2017-12-19 14:49] jarrpa commented on #408
You can find our supported modes about halfway down this page: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2017-12-19 14:52] alvarosIGZ commented on #408
You mean in the table with Access Modes?
Thanks!

[2017-12-19 14:56] jarrpa commented on #408
Yup! Closing this Issue.

[2017-12-19 14:56] #408 closed

[2017-12-20 13:46] Flow76320 commented on #407
Hi @jarrpa,
I can confirm that everything is working on GCE, Ubuntu 16.04.
I tried to apply the same configuration (adapted for CentOS 7) on CentOS 7-based GCE VMs, here is the (long) stack from /var/log/messages
[code]
Reboot seems to occured at roughly 13:16. I cut logs because all the following is about services / pods boot.

Here is the last step. I ended it 5min after I temporarily lost two o

[2017-12-20 14:19] Flow76320 commented on #407
After cleaning Heketi and GlusterFS services, pods, secret etc, I redo gk-deploy command. On a node (which did not crash this time), I can see this beautiful kernel panic appearing many times:
[code]

[2017-12-20 14:25] Flow76320 commented on #407
On the node that crashed, I have a kernel panic too, but it's slightly different:
[code]

[2017-12-20 20:17] jeffmhastings commented on #407
I am having the same problem on CentOS Linux release 7.3.1611 (Core) on AWS

[2017-12-20 22:01] jarrpa commented on #407
@Flow76320 Unfortunately, I'm not familiar enough with debugging kernel panics to be of much use here. Do you have all the prerequisite kernel modules enabled? Best I can suggest is to see if you can replicate exact or similar errors while running manual commands then finding a more appropriate forum for those errors.

[2017-12-21 11:35] Flow76320 commented on #407
@jarrpa Yup, I think they are all enabled as required. I tried to install Kubernetes on kernel 4.14, but I didn't managed to make it work properly.
BTW, I'll go with Ubuntu or Debian.
Thanks for your help !

[2017-12-21 14:55] jeffmhastings commented on #407
Seems like this may be SELinux related. I don't run into the failures when SELinux is Permissive.

[2017-12-21 15:12] jarrpa commented on #407
@jeffmhastings You've checked that you have all the SELinux booleans set? Is there anything in `/var/log/messages` or `journalctl` that shows anything meaningful with either LVM or SELinux?

[2017-12-21 15:13] jarrpa commented on #407
@Flow76320 If you're still willing can you verify if disabling SELinux on CentOS+GCE allows you to run LVM commands?

[2017-12-22 09:11] Flow76320 commented on #407
@jarrpa @jeffmhastings No luck, I still got kernel panics

[2017-12-22 15:45] jarrpa commented on #407
@Flow76320 Well, at least we know its definitely a CentOS problem, though we still don't know what. Which specific commands did you run, and is the kernel panic the same?

[2017-12-22 20:12] nkiesel opened #410 "Performance problems"
We are trying to replace an (inflexible) NFS-based storage solution with gluster-kubernetes.  While we got that working, we see a 100% - 300% slowdown.  Is that to be expected?

[2017-12-22 23:42] JohnStrunk commented on #410
First thing to check is your network bandwidth. Gluster replicates from the
clients, so writing at 33MB/s will use 100MB/s of network BW ~1GbE.
(Assuming 3 way replication)

On Dec 22, 2017 3:12 PM, "Norbert Kiesel" <notifications@github.com> wrote:

[2017-12-25 10:03] dpeer77 commented on #381
@BastienAr can you please share how you fixed it? which iptables command you used?
Thank you.

[2017-12-26 16:17] nick-scoutbee opened #411 "gk-deploy. Failed on setup openshift heketi storage"
I have Kubernetes cluster version 1.8.5
Also, I have tried the next Heketi versions: 4 and 5 (5==latest)
Heketi Topology file:

{
"clusters": [
{
"nodes": [
{
"node": {
"hostnames": {
"manage": [
"qa-k8b-slv-01"
],
"storage": [
"10.10.8.5"
]
},
"zone": 1
},
"devices": [
"/dev/sdc"
]
}, {
"node": {
"hostnames": {
"manage": [
"qa-k8b-slv-02"
],
"storage": [
"10.10.8.4"
]
},
"zone": 1
},
"devices": [

[2017-12-26 16:20] jarrpa commented on #411
You need a minimum of three storage nodes.

[2017-12-26 16:38] nick-scoutbee commented on #411
@jarrpa  thanks for your answer! I will try add one more node and let you know.

[2017-12-26 18:04] nick-scoutbee commented on #411
@jarrpa Thanks for help! Now everything are working fine:

/usr/bin/kubectl -n default exec -i deploy-heketi-5c45f969bd-svs8z -- heketi-cli -s http://localhost:8080 --user admin --secret '' topology load --json=/etc/heketi/topology.json 2>&1
Creating cluster ... ID: 9a8cc4efbe779a143c8b6da21fe4d684
Allowing file volumes on cluster.
Allowing block volumes on cluster.
Creating node qa-k8b-slv-01 ...

[2017-12-26 18:04] #411 closed

[2017-12-28 18:00] BastienAr commented on #381
[code]

[2017-12-31 22:57] hbajaj2 commented on #407
@jarrpa I am getting almost similar kernel panic failure on 3.10.0-514.21.1.el7.x86_64 (RHEL 7.3), Docker 1.12.6, below is the log snippet of the command and error

POST /exec/default/glusterfs-m266h/glusterfs?command=%2Fbin%2Fbash&command=-c&command=lvcreate+--poolmetadatasize+12288K+-c+256K+-L+2097152K+-T+vg_e0ab1814a1865536eef7aaa3d81aed38%2Ftp_631837959048c50c62c5e08a1ee02b41+-V+2097152K+-n+br

[2018-01-01 17:03] jarrpa commented on #407
@hbajaj2 And is this on GCE as well?

[2018-01-01 17:18] hbajaj2 commented on #407
@jarrpa no, these are VMs on softlayer (IBM private cloud).

[2018-01-02 15:48] JohnStrunk commented on #410
@nkiesel Are you still having unexpected performance or can this issue be closed?

[2018-01-03 01:06] nkiesel commented on #410
We still face the same issues.  I briefly checked our network and the testbed is using some vmware virtual machines for running a Kubernetes cluster.  They never gave us network perf problems before, but I will measure to be sure.  Would a simple `nc` client/server test be sufficient?

[2018-01-03 15:05] JohnStrunk commented on #410
For network throughput, I'm a bigger fan of ttcp:
* Receiver: `ttcp -rs -n 102400`
* Sender: `ttcp -ts -n 102400 dest_host`
That'll send ~800 MB between the hosts and give you the calculated BW.

Some other ideas...
* See what happens w/ a volume created from a single brick (i.e., no replication). Obviously don't use that in production, but you can at least see what BW you get.
* Take a look at yo

[2018-01-04 18:44] hbajaj2 commented on #407
@jarrpa, @Flow76320 Can you provide any thoughts to help resolve this issue, let me know if you need more details.

[2018-01-05 08:29] Flow76320 commented on #407
Sorry for the delay, happy new year everyone.

@jarrpa Kernel panics occur when the following command is executed: `sudo ./gk-deploy -t /etc/kubernetes --deploy-gluster -c /usr/local/bin/kubectl --namespace=kube-system /etc/heketi/topology.json`
I think the kernel panics are quite the same, with or without SELinux, but I didn't check every line.

@hbajaj2 I gave up with CentOS, it's stable with Ub

[2018-01-05 16:30] josdotso commented on #298
I'm hitting this issue on:

- Kubernetes v1.7.3
- Docker 17.05.0-ce

What can I do @jarrpa ?  This thread is kind of hard to follow.

[2018-01-06 12:35] r-moiseev opened #412 "Failed to communicate with deploy-heketi service."
`gk-deploy` script fails on check heketi api hello.

And it understandable, because this service has In-cluster endpoint IP.

So the question is, does is it ment to be run outside or inside the cluster?

[2018-01-08 14:52] hiyijian opened #413 "is it possible to use rdma with kubernetes-he keti?"
Hi stuff, I want to use infiniband rdma to boost gluster. Is it possible? I found nothing about this in  docs

[2018-01-08 18:25] rporres commented on #412
This also happens to me when trying to use the gk-deploy script in kubernetes. Taking into account that there are commands to run `heketi-cli` commands inside `deploy-heketi` pod I don't think this is meant to run inside the cluster so I would say this is a bug. I don't have any experience with OpenShift, but it looks that is meant to work with routes that somehow enable the external access.

I gu

[2018-01-09 00:04] rporres commented on #412
PR https://github.com/gluster/gluster-kubernetes/pull/414 contains a fix tested in kubernetes 1.8.2

[2018-01-09 14:00] hbajaj2 commented on #407
@Flow76320 unfortunately, don't have an option to opt for Ubuntu at the moment as this setup is within an enterprise.

[2018-01-09 15:15] jarrpa commented on #298
@josdotso I haven't run across that version of Docker before, but the solution at present is to change either Kube or Docker versions. If Docker, it should be < 1.13, if Kube it should be something other than 1.7.x (e.g. 1.6 or 1.8).

[2018-01-09 15:25] jarrpa commented on #413
While GlusterFS does support using RDMA, this is not immediately supported when using gluster-kubernetes. I'm not sure if that can be configured after heketi has already configured the GlusterFS nodes, however. @raghavendra-talur @obnoxxx do either of you know if this would be possible?

[2018-01-09 20:59] vbellur commented on #407
@hbajaj2 you might be able to workaround the issue by disabling the memory cgroup while booting. There is a known crash that can get triggered in RHEL/CentOS while removing dm devices.

[2018-01-10 18:03] jarrpa opened #417 "kubelet dependencies problem when using older version"
As of Kube 1.9, when using a version of kubelet other than the latest (e.g. 1.8.6) we are running into a version conflict for one of its dependencies:
[code]
We should figure out a way to resolve this version dependency without hardcoding the `kubernetes-cni` version.

[2018-01-10 18:03] jarrpa commented on #417
@phlogistonjohn Tagging you to keep this in mind. :)

[2018-01-11 05:45] martinsimon007 commented on #410
Sorry for the delay, as we were facing some issues while upgrading our kubespray cluster.

### Scenario 1-- Between glusterfs pods on different nodes
- **Reciever statistics**
`ttcp-r: buflen=8192, nbuf=102400, align=16384/0, port=5001  tcp`
`ttcp-r: socket`
`ttcp-r: accept from 172.27.141.192`
`ttcp-r: 838860800 bytes in 1.54 real seconds = 0.51 GB/sec +++`
`ttcp-r: 104491 I/O calls, msec/call =

[2018-01-11 16:22] JohnStrunk commented on #410
I'm assuming @martinsimon007 and @nkiesel work together? If not, lets split this into two different issues.

Going on the assumption this is the same system...
So we've got ~510 MB/s between gluster pods and ~370 MB/s between gluster and an app pod. I expect the difference between these two to be the overhead of kube's overlay network. Gluster uses the host network, so the gluster-to-gluster path

[2018-01-11 21:24] nkiesel commented on #410
yeah, same team.  Sorry we did not make that clear. Martin will be
providing the data you asked for.  Thanks for trying to help us!

On Thu, Jan 11, 2018 at 8:23 AM, John Strunk <notifications@github.com>
wrote:

[2018-01-12 03:39] yu-yang2 opened #418 "stuck in heketi-cli -s http://localhost:8085 --user admin --secret '' setup-openshift-heketi-storage --listfile=/tmp/heketi-storage.json"
recently I often stuck in `/usr/bin/kubectl -n default exec -i deploy-heketi-2602943959-n8q70 -- heketi-cli -s http://localhost:8085 --user admin --secret '' setup-openshift-heketi-storage --listfile=/tmp/heketi-storage.json 2>&1`    with no errors, but after  **reboot** and **reinstall** it passed. I don't know where is wrong.
here is the heketi log
[code]

and many logs like
[code]

[2018-01-12 09:04] martinsimon007 commented on #410
## VM Details
**OS** : Ubuntu
**Browser** : Firefox 56.0
**GlusterFS** : Distributed with 1 brick per volume
**Kubernetes** : kubespray (kubernetes version 1.7.3)

**Kubespray cluster** : Three VMs (VM1, VM2, VM3)
**GlusterFS cluster** : Same VMs as above with one disk attached to each (VM1, VM2, VM3)
**NFS** :  The nfs-provisioner for kubernetes present at the below URL is used
[https://github.co

[2018-01-12 15:14] jarrpa commented on #418
That all seems to be logs from after the reinstall... without more information and logs from when it was failing I'm afraid there's not much we can do. :(

[2018-01-12 15:26] yu-yang2 commented on #418
@jarrpa I'm think so, but thanks anyway, you have helped me a lot before.

[2018-01-12 15:44] jarrpa commented on #418
No problem. Please close this issue if nothing further for now and we can reopen it later. Good luck.

[2018-01-13 16:47] superbarne opened #419 "ProvisioningFailed Administrator access required"
when i create a pvc i get following error. I created all with gk-deploy, but skipped the object creation:

``` ./gk-deploy -g --admin-key <key> --user-key <key> --no-object -y -v ```

[code]

[2018-01-14 09:36] hemanthavs commented on #388
@jarrpa @dusansusic I am facing the same issue in my env ( rancher k8 ).  but could able to curl successfully using busybox / HEKETI container heketi/heketi:dev deployed independently.

one difference I see is heketi Deployment template used in this repo have serviceAccount. by any chance, it can play a role?

[2018-01-15 12:34] rsliotta commented on #419
This needs to be run with sudo

[2018-01-15 13:14] superbarne commented on #419
i ran this as a root user

[2018-01-15 15:31] alvarosIGZ opened #420 "Is it possible to configure gluster in distributed mode?"
Hello,
According to this guide: http://docs.gluster.org/en/latest/Quick-Start-Guide/Architecture/

I've seen that when you configure glusterfs in Kubernetes is configured in replicated mode, but... is it possible to configure it in distributed mode? In that way, when I deploy my gluster volumes (PVC, PV and so) I have a distributed volume.

Thanks,

[2018-01-15 16:11] rsliotta commented on #419
Hello Barne,

Just to let you know, I had a few issues with this, but I am not part of the team.

So the things the document are missing is this MUST be run from the primary Kubernetes master as sudo.
Second , I found an issue in one of the templates and fixed it.

heketi-deployment.yaml:  The initial spec section.

---

kind: Service

apiVersion: v1

metadata:

  name: heketi

  labels:

    glus

[2018-01-15 18:09] hemanthavs commented on #388
This is rancher issue.

Restarting network-manager services(Rancher) inside Infrastructure Stack fixed the issue.
I think we can close this issue

[2018-01-15 18:40] jarrpa commented on #420
A distributed volume is the "default" GlusterFS volume type. Volumes with replica > 1 are called distributed-replica volumes. So, if you set replica=1 you effectively have a distributed volume. There are two ways you can achieve this:

1. Use heketi-cli to create a volume using the option `-durability none`
2. Create a StorageClass that sets `volumetype: none` as a parameter

If either or both of

[2018-01-15 18:45] jarrpa commented on #419
@rsliotta `gk-deploy` does NOT need to be run on the primary master. More correctly, it needs to be run from a machine with a user that has cluster administrative privileges through kubectl.

I do agree that the `--abort` function is currently incomplete. Any help in shoring that up would be appreciated. :) Similarly, I can't tell what you changed in the heketi-deployment spec. Can you point it ou

[2018-01-15 18:48] jarrpa commented on #388
@hemanthavs Great! Thank you for tracking that down! I'll give the OP some time to respond just in case they're still somehow interested in this.

@dusansusic Are you still interested in this?

[2018-01-16 08:03] alvarosIGZ commented on #420
Hello!
I've tried the second solution and it works like a charm!
Thanks for the reply! :) You can close the issue now.

[2018-01-16 08:06] jarrpa commented on #420
Good to hear!

[2018-01-16 08:06] #420 closed

[2018-01-16 10:17] superbarne commented on #419
i original run this with --no-object, but later decided to try and add a pvc with the provided gluster-s3-claim template but then this error occurred.
I think I've got the problem, my  restuser, for the StorageClass was user not admin.

[2018-01-16 12:52] dusansusic commented on #388
You can close it, thanks.

[2018-01-19 17:11] jarrpa commented on #419
@superbarne You shouldn't need to use user admin... did changing it to admin resolve your problem?

[2018-01-19 17:12] #388 closed

[2018-01-23 03:38] raghavendra-talur commented on #366
@xelfe no. Which container image are you using?

[2018-01-23 04:26] xelfe commented on #366
@raghavendra-talur My kubernetes installation was made with kubeadm and by default get 1.9.2 with flannel networking 0.91. For the gluster deployment I use this repo on the master branch and gk-deploy -g . I dont know if its what you ask me but I never had to choose a image in this steps.

[2018-01-23 05:23] xelfe commented on #366
@raghavendra-talur I found that resturl from services was not the same after reboot. That's probably my problem but how to solve that ?

[2018-01-23 06:08] xelfe commented on #366
After looking deeper I've found that heketi endpoint is changing after reboot. There's any way to prevent that ?

[2018-01-23 10:17] kevinpz opened #424 "Issue with Kubernetes DNS resolution after deploying GlusterFS"
Hi guys,

I'm facing a little issue, using the `gk-deploy` tool to deploy a glusterFS cluster into an existing K8S cluster. (deployed with kubeadm)

My cluster is working, as well as the K8S dns. If I do a `nslookup google.fr` from a centos pod, it returns me the right IP.
But as soon as I start the `gk-deploy` tool, I'm facing issue with the DNS resolution. If I retry the same command, it answers

[2018-01-23 14:12] jarrpa commented on #366
@xelfe Are you having a problem with a StorageClass rather than bricks being down?

[2018-01-23 14:19] jarrpa commented on #424
...wow, I'm not sure where to start. This is bizarre! The only thing I can imagine that might be related is the fact that the GlusterFS pods use hostNetwork networking. Otherwise they don't do anything to mess with any networking configuration. Can you try to replicate this by spinning up a simple nginx pod on each node that uses `hostNetwork: true`?

[2018-01-23 14:48] kevinpz opened #425 "Kubernetes gluster storage class not working with DNS name"
Hi guys,

I have a little issue to use the GlusterFS storage class. I'm trying to add it with the DNS name inside the K8S cluster, but it seems that it doesn't work.

Here is my storage class creation file:
[code]
If I try to reach the domain name from a CentOS pod, it works well:
[code]

But, when I try to deploy a nginx pod, with a storage class:
[code]

With this kind of volume reservation:
[co

[2018-01-23 16:27] jarrpa commented on #425
I'm not sure what's going on there. Can you resolve cluster names from the kubernetes hosts themselves?

[2018-01-23 16:40] xelfe commented on #366
@jarrpa Yes. I'm using the heketi endpoint like the docs say for the resturl of the storage class but this endpoint change after all reboot

[2018-01-23 16:53] jarrpa commented on #366
@xelfe Please start a new Issue for that and I'll respond there. :)

[2018-01-23 16:56] jarrpa commented on #366
@kwtalley I'm closing this Issue for now. Feel free to reopen it if you want to revisit this later.

[2018-01-23 16:56] #366 closed

[2018-01-23 16:58] xelfe opened #426 "Heketi endpoint is changing after each reboot"
I'm using the heketi endpoint like the docs say for the resturl of the storage class but this endpoint change after all reboot so I have to change the storageclass each time. there's any way to prevent this ?

[2018-01-23 17:06] jarrpa commented on #426
The service endpoint IP is not guaranteed to be static. IPs in Kube are generally not guaranteed to be static. For that you want to use DNS names, and all services are given a cluster-internal name, something like `heketi.svc.local.example.com`. Note that since the GlusterFS provisioner needs to be able to talk to the heketi service, this name must also be resolvable outside the Kube cluster.

[2018-01-23 17:12] xelfe commented on #426
@jarrpa so I should use ingress on that ? You say it must be resolvable outside the kube cluster but actually it's dont and it's work. For security reason it's not suppose to be all internal ?

[2018-01-23 17:16] jarrpa commented on #426
Sorry, by outside the kube cluster I meant outside the cluster internal network. Specifically, the GlusterFS provisioner operates outside the networking fabric that Kube creates for pod-to-pod communication, and thus there are some configurations where the provisioner would not be able to resolve cluster-internal names. Since it works for you, that's properly configured. :) Does that resolve your

[2018-01-24 03:52] XericZephyr commented on #251
I have encountered the same issue.

Is there any workaround to temporarily remove the failure mount and start over?

Like this one, I would like to remove all those LVMs on the device `sdb` and start over.

[code]

[2018-01-25 15:23] jarrpa commented on #349
GlusterFS containers now run 3.12. Closing this Issue.

[2018-01-25 15:23] #349 closed

[2018-01-25 17:40] LihoyKozak opened #428 "No space error when trying set up glusterfs storage at kubernetes using heketi"
Hello,

I'm trying to create GlusterFS containerized storage nodes in a Kubernetes cluster. Using the next guide:
https://github.com/heketi/heketi/blob/master/doc/admin/install-kubernetes.md

I have performed steps one by one.
But when runs heketi-client/bin/heketi-cli setup-openshift-heketi-storage get the error:
"No space"

At the deployment log:

Pods:

[code]
Heketi cluster:

[code]
[code]

Ca

[2018-01-25 17:49] phlogistonjohn commented on #428
The output of 'heketi-cli topology info' looks like that of an older version of Heketi. Can you please confirm that you are using the same version of Heketi server and heketi-cli command?

Alternatively run the  'heketi-cli topology info' command using the copy of heketi-cli that is part of the heketi container image. For example kubectl exec -it  deploy-heketi-8465f8ff78-sb5h5  -- heketi-cli topo

[2018-01-25 17:57] LihoyKozak commented on #428
At the heketi-deployment.json file the **heketi/heketi:latest** image used.
At the heketi-bootstrap.json file **heketi/heketi:dev** is used.

[code]

[code]

[2018-01-25 18:13] jarrpa commented on #428
Since you've been following manual instructions using an outdated client, your cluster is not properly marked as being able to be used for either file or block volumes. You'll need to use a current client, like the one in the container, to modify the cluster appropriately.

[2018-01-25 18:15] phlogistonjohn commented on #428
Ah, the key item here is:
[code]

This tells Heketi that it may not create file volumes nor block volumes on this cluster. Since you have no other clusters it gives up, saying, no space available anywhere for new volumes (not the best error IMO).

This is a known problem and the team is currently working on improvements in this area. See [heketi  pr #968](/heketi/heketi/pull/968)

I am a bit confu

[2018-01-26 08:29] LihoyKozak commented on #428
Thank you guys!!

Copy heketi-cli from deployment solve the issue:
[code]

[2018-01-26 08:30] #428 closed

[2018-01-28 06:31] hemanthavs opened #429 "gk-deploy abort is not deleting the heketi-storage-endpoints svc"
gk-deploy --abort is not deleting the heketi-storage-endpoints svc

[code]

Causing issue

[code]

So, Getting above error when trying to deploy after a clean up ( ./gk-deploy --abort -y )

[2018-01-28 23:32] jenciso commented on #425
@kevinpz I think that this problem has relation with this kubernetes issue https://github.com/kubernetes/kubernetes/issues/42306

[2018-01-30 22:40] levysantanna commented on #383
I have the same issue here, using openshift-ansible installation. My DNS are working alright inside of the deploy-heketi-storage Pod.

`bash-4.2$ curl prestes1.sanepar.com.br -v
* About to connect() to prestes1.sanepar.com.br port 80 (#0)
*   Trying 10.100.3.116...
* Connection refused
* Failed connect to prestes1.sanepar.com.br:80; Connection refused
* Closing connection 0
curl: (7) Failed connec

[2018-01-30 23:29] jarrpa commented on #383
@levysantanna As this is a stagnant Issue, I'm going to close it. Please open a new one with more details on the exact problem you're facing and any information on your environment you can think of. If it helps, look through this thread to see what all has been already provided.

[2018-01-30 23:29] #383 closed

[2018-01-30 23:57] dimthe commented on #383
this never worked for me . The kube cluster was set up OK , all other services were and still are working fine . DNS was also ok , something was wrong with glusterfs. I did not have any more time to mess with it so i abandoned it .
I will look into it again in the future

[2018-01-31 07:31] kevinpz commented on #425
Hi @jenciso you're right. That's the same issue.
So it's more a K8S issue than a gluster one?

[2018-02-01 05:39] zrahui opened #432 "Cannot exec into or attach to a privileged container"
We've got a new cluster with k8s 1.9.1 and the gk-deploy script falls over when spinning up Heketi
[code]
I'm also not able to exec into any of the gluster pods (receive same error from kubelet), is there something i'm missing in our cluster setup?

Cheers

[2018-02-01 06:02] zrahui commented on #424
I've also observed the same behaviour in a k8s cluster built with ACS Engine using Azure CNI. Deploying with hostNetwork seems to kill the DNS in the cluster. Removing hostNetwork from the yaml works fine, but then raises another issue of being able to know the IP assigned to gluster pods during deployment.

[2018-02-01 09:20] superbarne commented on #419
yes it did

[2018-02-01 15:09] jarrpa commented on #432
That's the output of `oc get po` on the GlusterFS pods and the outpud of `os describe po` on one of the GlusterFS pods? We're looking to see if they report `1/1` Ready and if they show any error events.

[2018-02-01 15:10] jarrpa commented on #424
@zrahui Hmm... can you think of any workaround? This sounds significant enough that we should probably extend the help prompt at the start of the script.

[2018-02-01 15:13] jarrpa commented on #419
Hm, irritating, I'll look into this.

[2018-02-01 15:30] jarrpa commented on #419
Can you provide the YAML definitions for your StorageClass and PVC?

[2018-02-02 06:24] zrahui commented on #432
Sorry not sure what you meant there, but I can't exec into the pods as below:
[code]
All Gluster Pods are running as below:
[code]
describe run on one of the pods
[code]

[2018-02-02 13:21] jarrpa commented on #432
Oh... yeah you need to have permission to exec into the GlusterFS containers. The credentials you're using for kubectl should be a cluster-admin.

[2018-02-02 13:27] humblec commented on #419
@superbarne that error clearly indicate that, the volume creation is attempted as a normal user who dont have "admin" privilege, it also confirm heketi authentication is enabled. As first step of troubleshooting I would like to ask "storageclass" yaml file as @jarrpa requested. Also I would like to know whether you have created any "secret" for heketi authentication in your cluster.

`#kubectl get

[2018-02-02 13:38] jarrpa commented on #419
@humblec Well, he got it to work already by switching to user `admin`. The dangling question was whether the `admin` user is strictly required. I now believe it is, in which case we should update our documentation. In the case of having auth not configured, is the `restUser` parameter for the StorageClass required?

[2018-02-02 13:50] humblec commented on #419
@jarrpa ah.. I missed that comment. If authentication is not configured, we dont need restuser param.

[2018-02-02 13:55] jarrpa commented on #419
@humblec Woo! Excellent.

@superbarne if the core issue is resolved, please close this issue.

[2018-02-02 18:21] michaelmitchell commented on #412
PR #414 fixed this for me, tested kubernetes 1.8.7

[2018-02-02 20:33] jarrpa commented on #412
Good to hear. @r-moiseev if you come back and it still doesn't work for you, feel free to reopen this Issue. :)

[2018-02-03 21:02] #412 closed

[2018-02-03 22:23] #419 closed

[2018-02-05 04:06] zrahui commented on #432
Hmmm... I would've thought the default credentials on the master node would have cluster-admin rights? I'll need to dig deeper to find out. Thanks

[2018-02-05 04:08] zrahui commented on #424
@jarrpa Unfortunately i'm stuck on issue #432 so haven't been able to get much further. If I get things working I'll let you know!

[2018-02-05 06:00] zrahui commented on #432
Looks like this has been disabled by the ACS Engine team: https://github.com/Azure/acs-engine/pull/1961

[2018-02-05 06:06] #432 closed

[2018-02-05 11:45] oran1980 opened #433 "UPGRADE FAILED: Job in version "v1" cannot be handled as a Job: [pos 1190]: json: expect char '"' but got char '0'"
Hi,

As part of our CI/CD flow, helm upgrade  command is executed, and fails with the following error:
UPGRADE FAILED: Job in version "v1" cannot be handled as a Job: [pos 1190]: json: expect char '"' but got char '0'

kubectl version: 1.7.6

please advise

Thanks in advanced.

[2018-02-06 07:10] zrahui commented on #424
It's definitely the gk-deploy tool, specifically the spinning up of the GlusterFS pods that seems to kill DNS. I've managed to run a DS with busybox and hostNetwork enabled with no issues. I'm at a loss as to where the issue lies, basically the internal kube-dns falls over and won't come back.
The kube-dns logs are specifying an i/o timeout to apiserver. It's like the routes to the apiserver have

[2018-02-06 16:21] jarrpa commented on #424
There have been some issues on clusters deployed with... I think kubespray? The issue was that kubespray had some sort of port range that overlapped with some ports used by GlusterFS. I'll try to find the issue.

[2018-02-06 16:31] jarrpa commented on #424
Yes, kubespray: https://github.com/gluster/gluster-kubernetes/issues/286#issuecomment-329154392

Please open a new Issue if problems persist.

[2018-02-06 16:33] jarrpa commented on #433
I know nothing about helm or its upgrade command. Can you elaborte on what its doing and what the error message means?

[2018-02-07 02:42] zrahui commented on #424
Removing the gluster DS, clearing the /var/lib/glusterd directory and rebooting each node brings connectivity and DNS back online. So something in gluster is conflicting with the ACS configuration. I'm at a loss as to where to look next so have logged an issue with ACS-engine team https://github.com/Azure/acs-engine/issues/2222

[2018-02-07 07:15] kevinpz commented on #424
Hi @jarrpa , sure I'm still interested in this issue. It's really annoying to have to restart Docker in all of my workers after installing gluster.

For information, I'm not using kubespray, but kubeadm. And I'm deploying on an OpenStack cloud private platform.

[2018-02-07 14:52] jarrpa commented on #424
@kevinpz All right, good to know. You mentioned earlier that you restarted the weave-kube pods, not Docker itself. Do both of these seem to have the same effect? Can you check to see what the value of `net.ipv4.ip_local_reserved_ports` on your hosts is when you're having the networking problem (i.e. before restarting anything)?

[2018-02-08 18:20] mrwulf commented on #125
This is still pending, but should definitely be done!

[2018-02-08 22:25] xelfe commented on #426
yes thank you @jarrpa

[2018-02-08 22:25] #426 closed

[2018-02-13 01:02] mjschmidt opened #434 "Having issues with gk-deploy script"
Hi I am running kubernetes 1.8.5 on centos7.

I tried the script, but I get the glusterd not running. I seem to be having issues enabling the service, I checked some of the other issues on here, noticed that some other people were having similar problems so I went to abort my gk-deploy and the gluster pods did not delete.

Question 1
Is that an issue or can I keep trying to now re run the gk-deplo

[2018-02-13 01:03] mjschmidt commented on #434
3rd one is admittedly not a question.

[2018-02-13 01:23] jarrpa commented on #434
Hey there! Sorry to hear about your troubles. Let's see...

1. This is definitely an issue. While the abort function is somewhat incomplete, it should be getting rid of the GlusterFS Pods and DaemonSet. Just do a `kubectl delete ds` on the DaemonSet, that should also remove the pods. There shouldn't be any Kube caching problems. Be sure to delete any remaining GlusterFS configuration directories (

[2018-02-13 08:53] soumyapanigrahi-k8s opened #435 "Unabale to provision volume"
Dear all,

**I am unable to provision volume with the following error:**
 Failed to provision volume with StorageClass "glusterfs-storage": create volume error: error creating volume Unable to execute command on glusterfs-spnpk:   Volume group "vg_fd4e734af2a4e9f0c481652bcf87a1a8" has insufficient free space (1177 extents): 6912 required.

It looks like I am hitting the issue: https://bugzilla.red

[2018-02-13 13:32] jarrpa commented on #435
Sorry to hear about this. :( That's a lot of volumes, are you sure you haven't just run out of space? Note that any LVM volume created by heketi actually takes up slightly more space than the raw storage it provides, namely `[requested size] + [lvm metadata size] + [size for snapshot]`. heketi at this point only checks for enough capacity for the `[requested size]` but does not account for the oth

[2018-02-13 13:48] mjschmidt commented on #434
How can I check that the correct kernels modules exist?

[2018-02-13 13:49] mjschmidt commented on #434
I will not be able to take screenshots, but I can do my best to get you the most info that I can.

[2018-02-13 14:00] mjschmidt commented on #434
I found the host path mounts, so I will clear those out. For some weird reason the script deployed two identical deamonsets deployments to kubernetes. It still only deployed a single set of pods, but that may have been why the script failed to take down the Deamonset on --abort.

[2018-02-13 14:05] jarrpa commented on #434
If you ran the script more than once that would account for why there are more than one DaemonSets... that's the only thing I can think of, anyway. But the presence of another set of GlusterFS pods would account for some of these issues. Make sure the DaemonSets are removed and any associated node labels are also removed.

For kernel modules, `lsmod | grep <name>` will show you if a given module i

[2018-02-13 14:12] mjschmidt commented on #434
Sorry I am looking at the setup guide and I don't see the modules that I need there?

For the host paths, should I delete the folder as well. For example should I remove the whole heketi folder?

I noticed in /run/lvm/ there are two files in there, I went to look at them and I got permission denied even as root. Is that lvm folder created by the gluster deployment (and therefor I can delete) or co

[2018-02-13 14:18] jarrpa commented on #434
NOnono, do not delete any system directories! Only delete the ones specific to GlusterFS and heketi (they should be obvious by name). And yes, you can remove the directories themselves.

If you don't skip it, the intro text to gk-deploy tells you what you need to have available: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L528-L560

[2018-02-13 14:22] mjschmidt commented on #434
I already did... just kidding ( :
So I plan to delete these folders:
/var/lib/heketi
/etc/glusterfs
/var/log/glusterfs (though I cant see why logs would matter)
/var/lib/glusterd
/var/lib/misc/glusterfsd

and not delete:
/run/lvm
/dev (obviously)
/sys/fs/cgroup
/etc/ssl

Ah I see in the gk-ddeploy skip the kernel modules. I can look at those next. Let me know if proposed delete/donotdelete list lo

[2018-02-13 14:35] jarrpa commented on #434
A reasonable list. Go ahead!

[2018-02-13 14:49] mjschmidt commented on #434
Okay I got my modules loaded up, I had seen that before but for some reason choose not to explore it more. Those are all loaded up now.

how can I check that mount.glusterfs is available?

[2018-02-13 14:50] mjschmidt commented on #434
Can I just sudo yum install the glusterfs-fuse.x86_64 package on centos7 and assume it is there?

[2018-02-13 15:06] mjschmidt commented on #434
list of packages proposed to yum install on worker nodes:
centos-release-gluster313 (or 312)
glusterfs-cli.x86_64
glusterfs-fuse.x86_64

[2018-02-13 15:17] soumyapanigrahi-k8s commented on #435
@jarrpa thanks for the response. Much appriciated...

 When i fire the API request
curl http://10.102.64.123:8080/clusters/3b6483657c0c9b67d7f37d6a7bf34d0c

{"id":"3b6483657c0c9b67d7f37d6a7bf34d0c","nodes":["7a51fdbe6a42ca07de199475811c5e0b","840e8391db3c426000eebf520ec84750","bb80c92d7f09606c5e7881c7f94e7fb7"],"volumes":["**68f6a7444263a7fa867f5f5b3d76c9f8**","**d73cf0a75ff6488c3580bb563a6f0b01**

[2018-02-13 16:07] mjschmidt commented on #434
I decided for now I would only get the cli and fuse packages I listed above and give it a try.

The deployment was not successful
Error:
unable to create new node: New Node doesn't have glusterd running
How do I turn on glusterd?

I saw that you can enable glusterd.service , but when I tried that I got no such file or directory.

[2018-02-13 16:38] jarrpa commented on #435
Hmm... are you trying to do a lot of volume create/delete requests rather rapidly? There is currently an issue in heketi that a tricky race condition can lead to bricks (LVM volumes) being left unused and undeleted from the storage devices. You might be running into this.

For the time being, the best thing for you to do would be to use `heketi-cli topology info` to look for bricks that are not cu

[2018-02-13 16:45] jarrpa commented on #434
If you're running GlusterFS in pods, heketi is looking for clusterd in the contaiers and there must be NO glusterd present on the host. You do not "turn on" glusterd in this case, it should be running when the containers come up. The error you're getting from heketi could mean a number of things, but fundamentally it means it can't talk to a glusterd process where it expects it should. Check the o

[2018-02-13 16:57] mjschmidt commented on #434
Okay got it, I will remove the gluster-cli from the nodes then

[2018-02-13 17:12] mjschmidt commented on #434
By the way, the gk-deploy is still creating 2 deamonset deployments in kubernetes, but only one set of pods (so just when I go to tear it down I have to delete the deamonset manually and clear out the host file folders, which isn't a huge deal)

So things running:
the three modules
gluster-fuse.x86_64

Still getting the unable to create node from heketi, so I'll grab the logs and transcribe them.

[2018-02-13 17:12] mjschmidt commented on #434
When I describe the gluster pod it says that it is initialized, ready and scheduled as True

[2018-02-13 17:17] mjschmidt commented on #434
From the heketi logs I also see:
Started GET /clusters/<long id number>
Completed 200 OK in <time>
Started delete /clusters/<same long id number>
<Two info statements about cluster being deleted here>
ERROR <time> /src/github.com/heketi/heketi/apps/glusterfs/allocator_simple.go: Unknown cluster id requested

[2018-02-13 17:20] jarrpa commented on #434
Please don't spam multiple messages if you can avoid it.

On the describe I'm looking for Events towards the bottom to see if any of them indicate an error.

Are you sure you have no GlusterFS DaemonSets or Pods running after you clean up a failed deployment? Are you using something other than the default namespace and could there be something conflicting in another namespace?

You never answered

[2018-02-13 17:47] mjschmidt commented on #434
Sure not a problem

For firewall ports I have a security group set up that allows:
TCP over ports 2222, 24007, 24008, 49149-49251

So that shouldn't be an issue. Also I think with our setup if nodes are in the same region then communication within the region should not be restricted... I just set up the security group to be extra safe that ports would not be an issue.

I am sure that I clean up al

[2018-02-13 18:01] jarrpa commented on #434
Hmm... yes, the networkign you described should be working.

I don't recall other issues with multiple DaemonSets... what are the names of the DaemonSets and are they in the same Namespace?

"all" may not get everything we're interested in. Try `kubectl get deployment,ds,po,job,secret,ep,svc,sa --all-namespaces` and see if there's anything with the words "glusterfs" or "heketi" in it.

Those packa

[2018-02-13 18:09] mjschmidt commented on #434
Hmmmm insteresting, so after the abort I did a kubectl get all (in just my namespace) and I see the deamonset twice, however when I do a kubectl get ds (Just in my namespace at first) I only see the one deamonset. So this may be an issue with the kubectl get all. As a result, I think that can be ignored for now.

kubectl get deployment,ds,po,job,secret,ep,svc,sa --all-namespaces | grep gluster

an

[2018-02-13 18:39] jarrpa commented on #434
OKay yeah something is screwy with your cluster. You can't have two resources of the same name and type in the same namespace.

The command you listed is definitely fine.

If you're at a point where the heketi and GlusterFS pods are up and running but heketi can't communicate to GlusterFS, check that all pods are showing `1/1 Ready`. Next try going into a GlusterFS container and running `systemctl

[2018-02-13 18:49] mjschmidt commented on #434
glusterd is running in the container

so that is good.

I ran hostname -i from inside the container and that worked and I got the correct IP back from the command.

Any test commands I can run from inside the gluster container that will let me know "yes the cluster is connected"? I did a gluster peer probe to one of the other containers and that worked. Then I did a gluster peer status and saw the

[2018-02-13 19:44] mjschmidt commented on #434
I have a 5 node cluster though.

What I am saying is that the gluster pods are not connecting to each other via the script because when I go into a gluster container origonally the container has 0 peers, however when I manually add a peer in the container that works and it connects to a different host ip.

busybox commands and values:
hostname = busybox-<long thing>
hostname -i = 10.244.5.3 (this

[2018-02-13 19:46] mjschmidt commented on #434
So it looks like my busybox can't ping anything but my gluster container can ping anyt machine in the cluster

[2018-02-13 20:15] mjschmidt commented on #434
I was looking at the gluster yaml file and noticed that there are not any ports specified on there? Is that expected? How does communication happen if there are no ports?

[2018-02-13 21:12] IronhandedLayman opened #438 "glusterfs pods modify irrelevant sysctl values on host machine"
When starting a glusterfs pod from the glusterfs DaemonSet (or when restarting those pods), net.bridge.bridge-nf-call-iptables is set to 0 on the host machine, which wreaks havoc on that Kubernetes pod, preventing all pods on that node from communicating with other pods on that same device.

This could be part of a bigger issue. The Dockerfile for gluster/gluster-centos runs /usr/sbin/init, meanin

[2018-02-13 21:27] mjschmidt commented on #434
Update, mostly so people who come after me can follow some sort of documentation

I was able to curl heketi and get heketi to say hello to me from inside the heketi pod going through the kubernetes heketi deployment service ip. the command is curl <service_ip for heketi-deploy>:8080/hello

I was also able to curl hello heketi from a single gluster container that is on the same node. So there are s

[2018-02-13 23:31] jarrpa commented on #434
A few things:
* When you're in a container that is not using host networking, you want to verify two things:
  1. Can I access other pods via their service IPs? This is typically done via `curl` or `telnet`. This will tell you if cluster networking is functional.
  2. Can I access Kubernetes nodes via their host IPs? `ping` will suffice here. This will tell you if the cluster network has access to

[2018-02-13 23:34] jarrpa commented on #438
Hmm... definitely problematic. If you'll humor me, would you be willing to try using the following container image I've put together?

https://hub.docker.com/r/jarrpa/gluster-fedora-minimal/

This doesn't use systemd and replaces it with a smaller replacement for init.

[2018-02-13 23:48] mrwulf commented on #435
@jarrpa Is there an open issue for the race condition you mentioned?

[2018-02-14 00:36] jarrpa commented on #435
I believe there's a BZ or two of it on http://bugzilla.redhat.com/, but I don't know them offhand.

[2018-02-14 11:45] nixpanic commented on #23
@jarrpa @obnoxxx , the job should be available for you guys to test. Please leave a `ok to test` comment in one of the next PRs. #436 would have had a chance for testing (it has the @centos-ci request), but it's been merged already.

If testing works, please close this issue.

[2018-02-14 17:46] IronhandedLayman commented on #438
Sorry, no dice... here's the initial error log. (That's a positive, usually the glusterfs pods don't spit out an error log)
[code]

Is it expecting a specific version on the host? I have version 3.11.2-1 of glusterfs-server and glusterfs-client installed. I can roll back to 3.10.5, see what else needs installed, and try again in a bit.

[2018-02-14 18:32] jarrpa commented on #438
There shold be no glusterd (glusterfs-server package) installed on the host. The GlusterFS container is what provides glusterd.

[2018-02-14 20:20] jmogden commented on #434
@jarrpa I'm having a similar issue to mjschmidt. You mentioned making a file in /etc/modprobe.d/ if I need to use `modprobe <name>` to load a module at start up; how do set that file up? Is there a example somewhere I can reference?

[2018-02-14 21:01] jmogden commented on #434
@jarrpa Next question, which yaml file sets up a pod that gets labelled "heketi-storage-copy-job"?

[2018-02-14 22:37] DanyC97 commented on #282
have you got anywhere with this @th3penguinwhisperer  ? cheers

[2018-02-15 10:08] alvarosIGZ opened #439 "Unable to make resize glusterfs pvc works"
Hello,
So I have v1.9.2 Kubernetes cluster with glusterfs.
I've tried to implement this new Kubernetes feature with glusterfs https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims.
Once I've set in kube-api YAML those two properties, I can deploy a SC with allowVolumeExpansion.
I deploy a PVC with that SC and then I edit the PVC. No errors but the volu

[2018-02-15 15:06] mjschmidt commented on #434
An update I am still working on this. I have learned more about iptables and networking than I anticipated. For anyone interested in a brief overview of IP tables role in Kubernetes the general gist is:

Kubernetes does a ton with IPtables...

[2018-02-15 15:09] mjschmidt commented on #434
By the way it looks like it was issues with the way I was deploying my kubernetes cluster and flannel or docker networking issues. So the next question is now that my heketi has hooked up with my gluster containers I see it is trying to do the setup-openshift-heketi-storage.

I am not running on Openshift and don't need this. I am running on centos7 machines. How can I exclude openshift stuff from

[2018-02-15 15:43] nixpanic commented on #434
On Fedora/CentOS/RHEL systems you can drop an executabl file under
/etc/sysconfig/modules/ . An example would be:

    #!/bin/sh
    #
    # Force loading some modules

    grep -q -w dm_thin_pool /proc/modules || modprobe dm_thin_pool

Save that file as /etc/sysconfig/modules/gluster-bricks.modules and make
it executable. Upon a reboot the script should get executed and the
modules get loaded.

T

[2018-02-15 15:59] mjschmidt commented on #434
@nixpanic  So I am not very familiar with the modules, or etc/sysconfig.

Does this look like it would be right?

These are the modules I need:
 dm_snapshot
 dm_mirror
 dm_thin_pool

Saving a file here /etc/sysconfig/modules/gluster-bricks.modules that contains:

    #!/bin/sh
    #
    # Force loading some modules

    grep -q -w dm_thin_pool /proc/modules || modprobe dm_thin_pool
    grep -q -w

[2018-02-15 16:17] nixpanic commented on #434
@mjschmidt yes, that looks correct. But you need to update the `grep` commands in the script ;-)

But, maybe there is a better way. Sometimes kernels compile certain modules in their main executable, and do not offer to load them. In that case, `/proc/modules` will not list them either. To make it less dependent on the kernel/distribution, I should have suggested:

[code]

Try the script+reboot on

[2018-02-15 16:22] mjschmidt commented on #434
I will use the lsmod and grep for the desired modules ( : I'll get back to you in a bit.

[2018-02-15 16:56] mjschmidt commented on #434
Okay cool it looks like that works ( : and that wasn't too bad, but what does that have to do with the heketi openshift stuff I was referring to earlier?

I don't think I am understanding that yet.

[2018-02-15 17:12] mjschmidt commented on #418
@yu-yang2 did you find any closure to this issue?

[2018-02-15 17:15] nixpanic commented on #434
The `setup-openshift-heketi-storage` command executed by Heketi will create a Gluster Volume to store the heketi database on. Creating the LVM/LVs can fail if the `dm_*` modules are not loaded. These should get loaded automatically, but that only works if the container can load them (which might not be the case because of several reasons).

[2018-02-15 17:46] jarrpa commented on #434
@mjschmidt @nixpanic I'll note that the `setup-openshift-heketi-storage` command is mislabeled. It applied to both Kubernetes and OpenShift. It is currently needed by the configuration used in `gk-deploy`, as it allows for robust persistent storage for the heketi database.

Supposedly there is a way that you can just specify module names in a flat file so that they get loaded on system startup. Se

[2018-02-15 23:53] jarrpa commented on #434
@mjschmidt Yes, the `setup-openshift-heketi-storage` command by default will always create a YAML manifest for the copy job that specifies `heketi/heketi:dev` as its image. You can change that by using the `--image` option into the command. So you have two options:
1. Edit your gk-deploy script to add `--image <image_name>` here: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-

[2018-02-16 04:27] mjschmidt commented on #434
Hmmmm okay, I am going to try that and if it works tomorrow. Thank you.

[2018-02-16 12:38] nixpanic opened #440 "Gluster pods should be able to load certain lvm/device-mapper modules"
There is no guarantee that the `dm_thin_pool`, `dm_mirror` and `dm_snapshot` kernel modules are loaded. Creating volumes with Heketi enablee thin-provisioning for the bricks. This will fail if the device-mapper/lvm modules are not available.

Two solutions are available (that I can think of):

1. add a script like `/etc/sysconfig/modules/*.modules` on the host to load the modules on bootup
2. enab

[2018-02-16 15:14] nixpanic commented on #407
@vbellur do you have a reference to a bug report or email about this?

[2018-02-16 18:11] mjschmidt commented on #434
@jarrpa @nixpanic WHOOP

So good news after the hard code into the open-shift command (a change I very much want to open a new issue for/help out with when this is all said and done)  and countless cluster deletes and re-provisions, I was able to have the gk-deploy script run successfully.

**NOW** how do I use this storage?

Upon completion the script says "heketi is now running and accessible vi

[2018-02-16 18:38] mjschmidt commented on #434
Never mind I just had to rename the volume mount point to the storage class I made. WOOOOOOO IT WORKS! 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

I'll have to find some time to create a troubleshooting page this weekend for Kubernetes deployment

So can I do the heketi deployment and scale that out if I need to and have requests come into the hekeiti in say a round robin fashion? Or would

[2018-02-16 19:43] mjschmidt commented on #434
Not to spam the chat, but how do I expand out to more nodes?

[2018-02-17 04:34] paphillon opened #442 "Kernel stack traces in log"
Container gluster/gluster-centos
Glusterfs Version 3.10
Kubernetes Version: 1.9.2
Host OS CentOS 7
Worker nodes: 3

After installing glusterfs I noticed the below kernel stack traces in log. However, the setup is working as expected and I am able to create/delete volumes.

How do I fix this?

Stack trace--
`Feb 16 23:01:24 glusterfs-server-1 kernel: IPVS: Creating netns size=2040 id=1
Feb 16 23:01

[2018-02-17 07:58] abrahamrhoffman commented on #385
Specifically, running:
[code]
then redeploying the daemonset worked for me

[2018-02-17 16:14] jarrpa commented on #434
WOO!! Great to hear! :D

All right, so, at this point you don't want to scale the current heketi deployment. heketi expects exclusive access to its metadata DB. But there are several ways you can expand this setup:

1. Add more nodes to the current clusters. This can be done via the heketi-cli by executing `heketi-cli node add` with the node info, then add the devices on that node.
2. Add more clu

[2018-02-17 16:17] jarrpa commented on #440
I'm also fond of approach 2. This makes it so that the kernel modules aren't loaded at boot if GlusterFS is removed.

[2018-02-17 16:20] jarrpa commented on #442
@raghavendra-talur Does this ring any bells in Gluster-land?

[2018-02-17 17:26] tgonzaga opened #443 "gk-deploy get stuck on glusterfs pod creation"
When deploying glusterfs using `./gk-deploy -g -n kube-system` it gets stuck on waiting GlusterFS pods to start

[code]
Analysing the pods, I see pods in Crash state
[code]
Inspecting one of the pods I see it fails on create OCI container `Error response from daemon: OCI runtime create failed: container_linux.go:296: starting container process caused "exec: \"/dev/init\": stat /dev/init: no such f

[2018-02-19 12:21] humblec commented on #439
Sure, yeah I was talking to @alvarosIGZ and trying to figure out whats going wrong here. The current status is that, we have verified all the requirements which need to be met for resize has been done in this setup and also can see the resizer respond to certain requests. However we can not see heketi receiving the expansion requests. Need to figure out why its so.. will keep updating the status h

[2018-02-20 12:03] robertoalcantara commented on #411
Even with tree nodes I have no space error message when I run heketi-client/bin/heketi-cli setup-openshift-heketi-storage. @nick-scoutbee do you have some extra tip? ;-)  Thanks

[code]

[2018-02-20 13:40] mjschmidt commented on #434
So adding gluster nodes to the deamon set is a manual process? I know if I label a node with the gluster tag it will spin up another gluster pod, but I guess there isn't anything that will trigger heketi to work with that new gluster pod?

[2018-02-20 14:07] jarrpa commented on #411
@robertoalcantara Offhand, not sure. Please open a new issue including a detailed description of what you're trying to do. Include the topology file you used for your installation.

[2018-02-20 14:08] jarrpa commented on #434
Correct. We are discussing ways to do that, but it's still some time out.

[2018-02-22 12:34] mjschmidt commented on #434
Okay can you give an example of the heketi node add command?

Is there a way to hook my terminal to the heketi container if I install the heketi-cli on it, or do I have to bash into the container in order to do these commands?

[2018-02-22 13:36] jarrpa commented on #434
You need to open a shell in the container to use the built-in `heketi-cli`, yes. You can also install `heketi-cli` on any machine that can send http requests to the heketi service. So if `curl://<heketi_url>/hello` works you can use `heketi-cli` from there. Regardless, you can run `heketi-cli -s http://localhost:8080 --user admin [--key <SECRET>] node add --help` to get the usage message. Note tha

[2018-02-25 18:21] Matty9191 commented on #370
Any updates on this feature? This will be super useful!

[2018-02-25 21:50] JohnStrunk commented on #370
I haven't put together an implementation yet, but it's still a feature we plan to get done.

[2018-02-26 14:06] Matty9191 commented on #370
Thanks for the feedback. This will be a super useful feature.

[2018-02-26 20:08] mjschmidt opened #445 "After some time gluster pods are disconnected"
How can I reconnect my pods if they become disconnected? 2 out of 14 pods are disconnected and it is causing my pvcs to not release correctly. How can I troubleshoot?

[2018-02-27 06:32] yu-yang2 commented on #418
@mjschmidt I changed virtualbox to vmware, then the issue has gone.

[2018-02-28 17:57] mjschmidt opened #446 "Gluster Not releaseing pvcs, showing failed"
Err message VolumeFailedDelete: persistenvolume-controller Unable to delete vol_<id here>: Unable to execute command on glusterfs-<other id here> volume delete:
failed: some of the peers are down.

I exec'ed into the container and one of the peers was in fact down. I am not sure why a peer would be down, I did reset the kubelet, but the containers came back and everything reported to be running fr

[2018-02-28 17:58] mjschmidt commented on #446
Peer reported "Disconnected"

[2018-02-28 18:01] mjschmidt commented on #446
After closer inspection it looks like I may have labeled a gluster node where the ip and name of the node don't match up. Can I fix this or do I need to tear it all down and start over?

[2018-02-28 18:01] mjschmidt commented on #446
Just going to tear it down. nevermind. Sorry to spam.

[2018-02-28 18:01] #446 closed

[2018-03-05 21:50] mjschmidt opened #450 "PVC requests don't seem to fire to heketi"
Sometimes it seems like pvcs aren't getting to heketi and as a result the pvcs sit in a forever pending state.

How can I go about debugging this?

[2018-03-05 21:58] jarrpa commented on #450
You can check several places:
* Look for error events in `kubectl describe pvc <problem_pvc>`
* Verify the correct parameters in `kubectl get sc <gluster_sc> -o yaml`
* Look for errors in `kubectl logs <heketi_pod>`

[2018-03-06 19:57] mjschmidt commented on #450
Okay so for the longest time my pvc was sitting forever in pending state. Finally this morning I came back and found this error:
Warning ProvisioningFailed 1342x over 5h From persistent volume controller

Message: Failed to provision volume with storage class glusterfs-storage create volume error: error creating volume Post http://<IP_HERE>:8080/volumes: dial tcp <ip_here>:8080: getsockopt: no rou

[2018-03-06 20:31] mjschmidt commented on #450
gluster service for my pod:
labels:
  gluster.kubernetes.io/provisioned-for-pvc: journaldisk-bookie-0
name
namespace
resourceversion
selfLink: /api/v1/namespaces/default/glusterfs-dynamic-journaldisk-bookie-0
uid: <numberhere>
spec:
  clusterIP : 10:111:124:22
  ports:
  -  port: 1
     protocal: TCP
     targetPort: 1
  sessionAffinity: None
  type: ClusterIP
status:
  loadbalencer: {}

[2018-03-06 21:29] jarrpa commented on #450
I said `sc` as in `storageclass`.

[2018-03-06 22:21] mjschmidt commented on #450
Sorry
Name glusterfs-storage
IsDefaultClass: No
Annotations: kubectl.kubernetes.io/last-applied-configuration={apiversion:storage.k8s.io/v1beta1, kind: sotrageclass, metadata: { annotations: {}, name: glusterfs-storage, namespace "", parameters: {resturl: http://10.244.7.2:8080}, provisioner: kubernetes.io/glusterfs

Provisioner: kubernetes/glusterfs
Parameters: resturl=http://10.244.7.2:8080
Even

[2018-03-06 22:32] jarrpa commented on #450
See if you get a response to `curl http://10.244.7.2:8080/hello` from one of your master nodes. If not you have some underlying networking problems.

[2018-03-16 09:07] htve opened #451 "Failed to install on CoreOS, Unable to create node: New Node doesn't have glusterd running"
Hi,all
  When I run the script, it prompts me `New Node doesn't have glusterd running`. Can anyone help me?

system: CoreOS 1632.3.0
k8s: v1.9.3

nodes:

NAME           STATUS    ROLES     AGE       VERSION
172.16.8.101   Ready     <none>    3d        v1.9.3
172.16.8.102   Ready     <none>    3d        v1.9.3
172.16.8.103   Ready     <none>    3d        v1.9.3
172.16.8.104   Ready     <none>    3d

[2018-03-20 00:26] gun1x commented on #367
Justinluckyg I am happy you figured it out. Can you please describe the resolution? I hit the same issue ...

[2018-03-20 10:52] mjschmidt commented on #450
Yeah that worked, but after some googling I saw that there were issues using kubernetes 1.8.2-1.8.0 with pvc stuff. So I am working on going up to 1.9.3 right now and seeing if that solves things before I continue debugging

[2018-03-21 09:26] jonathan-goh opened #452 "Add new devices to existing glusterfs cluster"
Hi there!

I have successfully created GlusterFS as a hyper-converged service on my Kubernetes nodes. In my kubernetes cluster, i have 1 master and 4 worker nodes. GlusterFS are on 3 of the 4 nodes. This is all working fine and well.

Now, i wish to create more storage space using glusterfs on the same cluster. What is the best way to go about doing this? Should I add more Kubernetes nodes (say 3

[2018-03-22 20:05] grantcurell opened #453 "How to get type distributed with no replication?"
I read here: https://kubernetes.io/docs/concepts/storage/storage-classes/#glusterfs

But it frustratingly points to the admin guide [here ](https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.1/html/administration_guide/part-overview) which doesn't help at all with determining the syntax of the volumetype for kubernetes. (At least not in any obvious way.)

How can I tell Kubern

[2018-03-22 21:10] mjschmidt commented on #434
Okay so I have the issue where a node contains devices, but the node is dead so I can't delete if from the heketi-cli but I also cant clean up any of my pvs that are deleted because one of the peers are missing.

How do I deal with this?

[2018-03-22 21:25] mjschmidt commented on #434
When I try to disable and remove the node that fails because now the node is dead/gone

[2018-03-26 11:48] mjschmidt commented on #434
@nixpanic any idea? Any idea of who I can ask?

[2018-03-27 14:35] Vishal-Gaur commented on #24
hiii guys,
i'm also having a little bit same issue, please look into it
# kubectl describe pvc gluster-dyn-pvc
Name:		gluster-dyn-pvc
Namespace:	default
StorageClass:	gluster-heketi-external
Status:		Pending
Volume:
Labels:		<none>
Annotations:	volume.beta.kubernetes.io/storage-class=gluster-heketi-external
		volume.beta.kubernetes.io/storage-provisioner=kubernetes.io/glusterfs
Capacity:
Access Mo

[2018-03-27 20:20] mjschmidt commented on #434
last try (and tomorrow morn) to reach @jarrpa or @nixpanic or anyone else before I try opening a new ticket (this could potentially be a new ticket anyway).

I have glusterfs pretty much up and running great, and I have learned a lot about trouble shooting kubernetes nodes to bring them back to life. However, I want to know how deal with node death in this setup because heketi doesn't want to remo

[2018-03-28 12:55] mjschmidt commented on #450
I figured out the issue which is captured here: https://github.com/gluster/gluster-kubernetes/issues/434

[2018-03-30 05:57] kevingu1983 commented on #407
We encountered the same problem, it prevents us from using glusterfs in k8s environments based on Centos. Any findings for this issue?

[2018-04-02 13:03] jarrpa commented on #452
Hi! Sorry for the delay, we've been rather busy as of late.

There are several ways to expand your storage, depending on your configuration. One way would be to add more storage devices to your existing nodes. You could also add more nodes as well. We recommend having the same amount and type of storage per node. This is not a strict requirement, but it makes the allocation behavior more predictab

[2018-04-02 13:12] jarrpa commented on #453
Apologies for the delay!

The `volumetype` StorageClass parameter is directly analogous to the `durability` parameter. THus setting that to `none` achieves the desired effect.

Closing this issue. Feel free to open it again if my answer is unclear. :)

[2018-04-02 13:12] #453 closed

[2018-04-02 13:19] jarrpa commented on #24
@Vishal-Gaur Sorry for the delay! If you're still interested, please open a new Issue with a better  description of what you're trying to do.

[2018-04-02 15:45] jarrpa commented on #434
Looks like this conversation continued in https://github.com/heketi/heketi/issues/1120.

[2018-04-03 07:16] Vishal-Gaur opened #454 "Unable to provision Volume using Heketi/glusterfs"
Hii @jarrpa ,
I have one gluster node installed heketi on it.Now i'm provisioning for 1 Gb volume but it's showing No space.

[code]

And i've available space also.

[code]

[2018-04-03 11:09] nick-scoutbee commented on #454
Hi @Vishal-Gaur
You need to have at least 3 nodes with separate unformatted disk

[2018-04-03 11:41] nixpanic commented on #454
Or you can create a Gluster volume that does not have any replicas (the
default is replica-3, which needs 3 storage servers). In order to do so,
run the volume create command like

    heketi-cli volume create --durability=none --size=1

Obviously an environment with a single storage server is not high
available or fault tolerant. Use such an environment for testing only :-)

[2018-04-03 13:40] Vishal-Gaur commented on #454
@nixpanic Thanks for that command.
it's working .....
and i'm having that one server only because of testing purpose.

[2018-04-03 13:41] Vishal-Gaur commented on #454
but while i'm dynamic provisioning at that time PVC goes in pending state.
have you  any idea about that ...????

[2018-04-03 14:03] nixpanic commented on #454
The default StorageClass will try to create volumes with a replica-3
configuration. Because you only have one storage server, this is not
working and the PVC will never get created. You will need to configure a
StorageClass with the volumetyp set to 'none', and use that. See
https://kubernetes.io/docs/concepts/storage/storage-classes/#glusterfs
for a little more details

[2018-04-03 14:26] Vishal-Gaur commented on #454
This is my Storge Class file

[code]
This is my PVC file

[code]
Please give me some idea about it ....

[2018-04-03 15:11] jarrpa commented on #454
@Vishal-Gaur You have not done the change @nixpanic suggested. Please read the link he provided and update your StorageClass parameters.

[2018-04-04 06:02] Vishal-Gaur commented on #454
@jarrpa & @nixpanic i have changed the config as you had suggested and here is the storage class file
[code]
is this correct ???
but PVC still in pending state ..

[2018-04-04 08:52] nixpanic commented on #454
That looks good, as long as you repaced the rest- and secret-values with
the ones for your environment.

You can check what Heketi receives by going through its logs. When a PVC
is in 'pending' state, it often retries to create the Gluster volume and
Heketi will be quite verbose about that.

[2018-04-04 14:25] Wykiki opened #455 "Device not found (or ignored by filtering)"
Hello everyone !

Environment :
- Debian 9.3
- Kubernetes 1.9.3
- Docker 17.03

Kubernetes :
- 1 master
- 3 workers

I've tried to setup gluster-kubernetes on my cluster, with the following topology :

[code]

It's for tests purposes, that's why there's less than 3 block devices per node.

The script seems to go well until it tries to add devices :

[code]

The logs of the deploy pod :

[code]

Th

[2018-04-04 14:37] jarrpa commented on #455
You don't need to provide three devices per node. You need to provide three nodes with a minimum of one device each unless you use the `--single-node` parameter for `gk-deploy`. The parameter forces the heketidbstorage volume to be created with only 1 brick and no replication where it normally is created with 3-way replica (hence the three node requirement).

That said, you don't seem to be gettin

[2018-04-05 08:15] Wykiki commented on #455
Thank you for your fast reply !

So, concerning LVM data, I had indeed setup it on some of my disks (sdb, sdb, sdc), but then I reformatted them, and probably wrongly updated LVM to be aware of this.

Results of commands :

[code]

[code]

Concerning `pvcreate` and co., they aren't available on the 'Heketi logs' pod, but on the 'Gluster' pods :

[code]

So I've done recommended commands, also remo

[2018-04-05 08:50] #440 closed

[2018-04-05 08:51] nixpanic commented on #454
@Vishal-Gaur did you get it working? If so, we can close this issue. Thanks!

[2018-04-05 08:59] nixpanic commented on #455
It seems you have two storage servers. By default heketi creates Gluster volumes with a replica-3 configuration. None of the replicas should live on the same storage servers. Therefore the requirement to start is with three storage servers. Two storage servers offer not enough redundancy, and `No space` is returned as an error.

If you are planning to use this environment for testing only, you can

[2018-04-05 10:56] Wykiki commented on #455
Thanks a lot for your reactivity and help !

The root problem of this topic (Device not found) is fixed, thanks to @jarrpa comment.

@nixpanic comment helped me on another problem, the fact that I don't provide 3 different nodes (`Kubernetes nodes`) with at least 1 block device each (`/dev/sdX`) (correct me if I'm wrong).

I think this Issue can be marked as Solved.

Again, thank you guys !

[2018-04-05 11:31] nixpanic commented on #455
Thanks for the update!

[2018-04-05 11:31] #455 closed

[2018-04-07 08:33] gzyeah commented on #383
Same problem here, anything update from @dimthe  ?

[2018-04-07 17:02] jarrpa commented on #383
@gzyeah If there's a problem you'd like to resolve, please open a new Issue. Please include any relevant information you have as well as your topology file and heketi pod logs.

[2018-04-07 22:38] alexanderzimmer opened #458 "mount.glusterfs: shift: can't shift that many"
Hey guys,
i having trouble with installation GlusterFS with your deployment script. I installed GlusterFS-Server on all my Ubuntu-Nodes (installed version 3.7.6). When i try to do a `mount.glusterfs -V` i get an error:

[code]

Perhaps you have solution?
Thanks!

[2018-04-08 11:02] kevingu1983 commented on #407
After upgraded to docker-1.12.6-71, we don't see this problem any more.

[2018-04-08 11:15] nixpanic commented on #458
Hi Alexander, you should try to use a more current version of GlusterFS, 3.7.x is end-of-life and not maintained anymore. Newer versions have many bugfixes and additional features that you probably want to have in any case. See https://docs.gluster.org/en/latest/Install-Guide/Community_Packages/ for repositories with maintained versions. I expect that `mount.glusterfs -V` will work correctly with

[2018-04-08 16:07] alexanderzimmer commented on #458
To be able to rule out that this comes from my hoster (scaleway) i tried it on a fresh digital-ocean node with the same result.

[2018-04-08 18:07] nixpanic commented on #458
This might be a problem /sbin/mount.glusterfs with the different /bin/sh
shells on Debian/Ubuntu and other distributions. Could you edit the
script, and replace the 1st line with `#!/bin/bash` to see if the
problem is resolved with that?

If that is the case, please report it as a bug againt Gluster at
https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS&component=scripts

Thanks!

[2018-04-08 23:26] jarrpa commented on #407
Given the inactivity of others in this thread and the latest mentioned solution/workaround, I'm closing this Issue.

[2018-04-08 23:26] #407 closed

[2018-04-11 05:10] 13567436138 opened #459 "stuck on heketi topoloy loaded"
stuck on heketi topoloy loaded.

[2018-04-11 05:34] 13567436138 commented on #459
/usr/local/bin/kubectl -n kube-system exec -i deploy-heketi-6bf856646b-6rpv9 -- heketi-cli -s http://localhost:8080 --user admin --secret '' setup-openshift-heketi-storage --listfile=/tmp/heketi-storage.json  2>&

[2018-04-11 05:34] 13567436138 commented on #459
this command stuck

[2018-04-11 07:20] yoke88 opened #460 "Unable to create node: New Node doesn't have glusterd running"
[code]

but my glusterfs server service name is not glusterd in ubuntu
[code]

[2018-04-11 07:41] nixpanic commented on #460
This looks like incorrect packaging in Ubuntu. Where did you get the packages from? The [recommended locations are listed in the Install Guide](https://docs.gluster.org/en/latest/Install-Guide/Community_Packages/).

The [glusterfs sources provide a `glusterd.service`](https://github.com/gluster/glusterfs/tree/master/extras/systemd) and not a `glusterfs-server.service`.

[2018-04-11 08:11] yoke88 commented on #460
after i edit the file /etc/init.d/glusterfs-server, changed the line `# Provides:          glusterfs-server
` to `# Provides:          glusterd`

then `systemctl daemon-reload`

the glusterd service name changed to glusterd.

[code]

[2018-04-11 08:50] nixpanic commented on #460
Yes, that is one way to work around the problem. Please report the incorrect service name to the Ubuntu maintainers. They can then decide to rename the `init.d`/`.service` file, or add the `Provides` or `Alias` directives.

Once done, add the link to the report here so that others can find it as well. Thanks!

[2018-04-11 08:50] #460 closed

[2018-04-11 09:55] nixpanic commented on #459
Can you provide further details? The distribution that you are using and
logs or output of the command would be a start.

[2018-04-11 11:37] vovkats opened #461 "Pods are not created"
When I run command ` ./gk-deploy -g` I get result:
[code]
I have next info in my dashboard
[code]
But I entered on node and this node has enough resources.

[2018-04-11 12:26] jarrpa commented on #461
This doesn't seem like a gluster-kubernetes problem off-hand... is there a way you can view what's using resources on the given node? If not, at least see which pods are running on that node and how many resources those are consuming?

[2018-04-11 13:09] vovkats commented on #461
Using this command` kubectl describe nodes node-3` I get net info:
[code]

[2018-04-11 13:42] vovkats commented on #461
@jarrpa I want to clarify.  Is it  important to have minimum 3 nodes for install gluster?

[2018-04-11 14:03] jarrpa commented on #461
Yes. For testing/hacking purposes, you can run gk-deploy with the `--single-node` argument to remove this restriction.

[2018-04-11 14:11] vovkats commented on #461
@jarrpa Can you explain item "Edit the glusterfs-daemonset.yml manifest to specify a different (or none) CPU request." ?

[2018-04-11 14:55] jarrpa commented on #461
[This line](https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/glusterfs-daemonset.yaml#L34).

[2018-04-11 20:11] azwildfire commented on #443
I have this issue as well. I even tried just directly loading the glusterfs-daemonset.yaml and .json - backoff failures in both regards. It appears that it is using a coreos image even though I am running on ARM.

[2018-04-11 20:48] azwildfire commented on #443
Is there an ARM image for Gluster i can pull?

[2018-04-11 21:10] jarrpa commented on #443
@tgonzaga Sorry no one got back to you on this. If you're still interested, let us know if you still have the issue or if you found a workaround.

@azwildfire There is no ARM image for Gluster. All of our images are x86_64.

[2018-04-11 23:32] azwildfire commented on #443
@jarrpa any roadmap or hopes of getting one? I am new to containers so this is part education and part experimentation. Could I build my own docker image and use it with the gluster yaml daemon?

[2018-04-12 00:06] jarrpa commented on #443
@azwildfire No plans on our part to do so, no. But yes, you can certainly build your own container to do with as you like. :) You could use the CentOS or Fedora container definitions here as a base: https://github.com/gluster/gluster-containers

[2018-04-12 04:52] vovkats commented on #461
@jarrpa thanks

[2018-04-12 07:50] vovkats commented on #461
@jarrpa After changing configuration I have got error:
[code]
But node is available.

[2018-04-12 08:08] SaravanaStorageNetwork commented on #461
@vovkats

Could you check all ports are opened properly.
Refer this guide:
https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md

Also, check this comment may help:
https://github.com/gluster/gluster-kubernetes/issues/250#issuecomment-296355028

[2018-04-12 08:24] vovkats commented on #461
@SaravanaStorageNetwork  port 1-50000 is opened. Also I have run s`udo iptables -I INPUT -p all -j ACCEPT` but It does not help me.

[2018-04-12 09:12] SaravanaStorageNetwork commented on #461
@vovkats

Check
kubectl get nodes  - verify all is fine here
kubectl get pods - check all pods especially gluster pods are running fine.

if any issue, check
kubectl describe pod <podname>

Check whether connectivity between the nodes works fine.

Additionally, you can abort the entire setup using gk-deploy --abort and try re-running again.

[2018-04-12 18:36] mjschmidt commented on #434
It is I am still waiting on an answer from them on some stuff, is there a command I can run on gluster itself to see if it is out of space or not? My total pvcs do not take up all the space I provided, so I think it may be an issue with stuff not being cleaned up correctly?)

[2018-04-12 18:47] jarrpa commented on #434
From gluster, no. From the GlusterFS pods you can run standard LVM command to inspect the configuration and usage. Ones to be likely be most relevant are `pvs`, `vgs`, `pvdisplay`, and `vgdisplay`.

[2018-04-12 19:18] mjschmidt commented on #434
I did the lvm vgdisplay on the gluster node and I see what I think is the relevant volume (~100Gig)

I see
VG size 99.87 gib
PE size 4.0 mib
total PE 225567
alloc pe / siz 23437 / 91.55 gib
Free PE 2130 / 8.32 gib
VG UUID AcF6yadayadayada

[2018-04-12 20:06] mjschmidt commented on #434
Okay something between heketi and gluster isn't working right. Heketi I show my 14 volumes but when I look at the available space on the node I see no free space. This happens when ever I have gluster and heketi up for an extended period of time making believe that heketi isn't actually cleaning up the space it says it is. How do I ask gluster these questions, for example. what are all the volume

[2018-04-12 21:01] jarrpa commented on #434
You may be hitting another heketi issue. You want to compare against the output of `gluster volume list`. `gluster volume status` will also tell you the names of each volume's bricks.

[2018-04-13 08:45] yu-yang2 commented on #418
the command stuck again with blow errors, where can I find the  cluster id ?
`/usr/bin/kubectl -n default exec -i deploy-heketi-2602943959-bq4hz -- heketi-cli -s http://localhost:8085 --user admin --secret '' setup-openshift-heketi-storage --listfile=/tmp/heketi-storage.json 2>&1`
[code]

[2018-04-13 11:10] mjschmidt commented on #434
great thanks @jarrpa

[2018-04-13 14:56] mjschmidt commented on #434
I NOW KNOW WHAT THE PROBLEM IS! Wow that was a long road. Long story short this is a bug between gluster and heketi running in containers. My second pvc claim was for 1 brick with 3 replication according to heketi-cli, but somewhere in translation gluster is creating 8 bricks x 3 replication for a total of 24 bricks. At 11 gib each that is what is eating all my space.

Here is the long story if in

[2018-04-13 17:53] mjschmidt commented on #434
https://github.com/heketi/heketi/issues/1127

also posted here

[2018-04-16 05:57] vovkats commented on #461
@SaravanaStorageNetwork @jarrpa I've updated heketi and after running command:
` ./gk-deploy -gvy`
I get error:
[code]
And command `kubectl logs deploy-heketi-7c4898d9cd-dwhhs` returns this result
`standard_init_linux.go:178: exec user process caused "exec format error`

Also when I try to re-run command: ` ./gk-deploy -gvy`
I get error: `Can't open /dev/vdc exclusively.  Mounted filesystem?`

[2018-04-16 22:03] renich commented on #459
Hello @nixpanic

I am having this same issue. Here's my log output:

[code]
The problem is related to heketi thinking there is no space left. My blocks are 500 GB each and this is a brand new cluster.

[2018-04-16 22:12] renich commented on #459
Just as a tip, I've found out the problem, I think. For some reason, in the deployment, one of the nodes claims to have a /dev/vdb with `Free (GiB): 0`:

[code]

This was totally my bad. I've created one of the drives as a 1 GB drive by mistake. I will correct the error, pvresize it and see what happens.

[2018-04-16 23:29] renich commented on #459
Just to confirm that everything worked fine once I `dd if=/dev/zero of=/dev/vdb`, as well as clearing the required directories and restarted.

The deployment went fine.

[2018-04-18 11:16] jarrpa commented on #418
Sorry for the delay!

Those errors don't look related to your command, they came out during heketi startup. However, you can find the relevant information from `heketi topology info`.

[2018-04-18 11:36] jarrpa commented on #434
....dang. That's really weird, I've never heard of heketi creating an 8x3 volume from a dynamic provisioning request. Are you able to reproduce this behavior consistently?

We have also been aware of heketi's tendency to get out of sync with the state of Gluster underneath it. The most recent release of heketi does a lot to address these issue. Check if you're running heketi v6.

[2018-04-18 11:43] jarrpa commented on #461
You can't run gk-deploy more than once for any given deployment. You have to do `gk-deploy --abort` and wipe all the storage devices before running again. You also want to check the `kubectl describe` output for the pod and see if it shows anything as well.

[2018-04-18 11:44] jarrpa commented on #459
@renich Good to hear!

Given that the OP has been completely unresponsive for a week, closing this issue.

[2018-04-18 11:44] #459 closed

[2018-04-19 13:41] yu-yang2 commented on #418
The VM has been destroyed a few days ago, and I don't know how to recreate the error, every time after I reboot, It won't be stuck, that's wired. now I have to close issue again. :(

[2018-04-19 13:41] #418 closed

[2018-04-19 21:36] mjschmidt commented on #434
I was not before, I just switched to heketi:6 today on a seperate cluster for testing, but now I am having deploy issues I am working through for that. I will update on that front when I figure out the nitty gritty details. My question on that front is, can I run heketi 6 with older gluster containers (what ever the latest was when we first started this thread and weren't best friends)
Yes the hek

[2018-04-20 14:47] jarrpa commented on #434
You should be able to run heketi:6 with older GlusterFS images, yes. And yes, it is possible with some new DB management tools to tyr and repair an out-of-sync DB. Ask in the heketi project for more info on that.

[2018-04-20 23:34] fzagarzazu commented on #369
I ran into the same problem, I ended up doing the same thing @patrickstjohn mentioned above.

If somebody runs into the same problem again, this is how I was cleaning things up before attempting again, in each server:
[code]

[2018-04-23 01:56] 13567436138 opened #464 "how to visite data in heketi colume"
how to visite data in heketi colume

[2018-04-23 02:54] #464 closed

[2018-04-23 02:55] 13567436138 opened #465 "glusterfs mount fail"
[code]

[2018-04-23 14:38] jarrpa commented on #465
Edited OP's description to only include the relevant error message once. :)

Please include the contents of `journal -xe` that mention Gluster on node5, as well as the contents of `/var/log/glusterfs/glusterd.log` from 192.168.1.42.

[2018-04-24 06:00] loveai88 opened #466 "when support glusterfs 4?"
when support use glusterfs 4 and glusterd2 by storageclass and pvc?

[2018-04-24 16:58] jarrpa commented on #466
There is no concrete timeline at this time. We are mostly waiting for GD2 to come out of tech preview and support more functionality via its REST APIs.

[2018-04-24 16:58] #466 closed

[2018-04-25 13:29] mjschmidt commented on #434
I am putting this at the top, but its really the last thing you should read:
OH MY GOD I DID ALL THIS TRANSCRIBING TO FIND OUT GLUSTERFS DELETED A VOLUME AND HEKETI DIDN'T KEEP TRACK (I did heketi-cli volume list and got that the volume was not cleaned up then did a gluster volume list and saw gluster did in fact clean it up... fuq...)

Okay I deployed heketi:6 to our old cluster, the new cluster

[2018-04-25 14:49] IvanBiv opened #467 "Error: Unable to open config file"
I have next error:
[code]

Whole Log:
[code]

My command:
`./gk-deploy -g`

`topology.json` (in curent directory with file `gk-deploy`):
[code]

I think script don't see file topology.json but i don't know why...

[2018-04-25 15:04] jarrpa commented on #467
The topology file is not the same as the config file. Try running `./gk-deploy -gv` for verbose output and see what you get.

[2018-04-25 15:31] jarrpa commented on #467
What do you mean you copy to `/etc/heketi/topology.json`? Also, are you running `./gk-deploy -g --abort` between installation attempts? You should be doing that after most failures to make sure you start clean. My guess would be that your config secret did not generate properly.

[2018-04-25 15:37] mjschmidt commented on #434
Also @jarrpa I aborted the gluster deployment and I am left over with a brick that was not cleaned up.

I am as a result unable to delete my volume because it is still in use by another device.

A lvc --segments reveals
LV                                               VG                                       Attr                   #str Type           ssize
vol_data

[2018-04-25 15:50] IvanBiv commented on #467
I copy file `topology.json` from current dictionary (where file `gk-deploy`) to `/etc/heketi/topology.json`

No I didn't it.

Now I to try it:

1) call `./gk-deploy -g --abort`
[code]
2) call `./gk-deploy -gv`

[code]

[2018-04-25 16:02] jarrpa commented on #434
`wipefs -a` on the underlying device should do the trick.

[2018-04-25 16:04] mjschmidt commented on #434
Okay I already deleted my volumes but if I encounter this again its good to know how to handle it (:

[2018-04-25 16:04] jarrpa commented on #467
You don't need to move the topology file. `/etc/heketi/topology.json` is the location inside the container where it is expected to be mounted. Just leave it in the same directory as gk-deploy. Abort and try again.

[2018-04-26 12:40] IvanBiv commented on #467
@jarrpa Today I reboot host and replay these steps:
`./gk-deploy -g --abort`
`./gk-deploy -gv`
and came to next step ) I see:

[code]
I found that client version 6 solve this problem (`Error: Failed to allocate new volume: No space`)
https://github.com/heketi/heketi/issues/1046

[2018-04-26 12:50] IvanBiv commented on #467
@jarrpa, should there be a partition on the device (/dev/sdb) used?

[2018-04-26 18:28] jarrpa commented on #467
Remove any data on the disk using, for example, `wipefs -a`. If you are not running with at least three storage nodes, also use the `--single-node` option with gk-deploy.

[2018-04-27 11:51] mjschmidt commented on #434
@jarrpa have you seen this issue with heketi:6 container? From the logs it looks like heketi is starting to do all the right things then it gets stuck then never retries to continue onward? Thoughts? I don't see any gluster issues from the heketi logs.

[2018-04-27 12:40] IvanBiv commented on #467
I remove partition `/dev/sdb1 `and add again
`topology.json`:
[code]

[code]

@jarrpa thank you! I will try to use.

[2018-04-27 13:59] #467 closed

[2018-04-27 14:12] IvanBiv opened #468 "Minimum brick size limit reached. Out of space."
Deploy which command:
`./gk-deploy -gv --single-node`

[code]

I try to repeat
https://github.com/gluster/gluster-kubernetes/blob/master/docs/examples/hello_world/README.md

and on step
`kubectl create -f gluster-pvc.yaml`
I see just `pending`

`kubectl logs heketi-75dcfb7d44-6sv75`

[code]

topology info:

[code]

topology.json:
[code]

[2018-04-27 14:29] phlogistonjohn commented on #468
It appears you are running with a single node configuration. However, the default behavior is to allocate volumes with replicas. Try specifying a replica count of 1 in the storage class.
See: https://kubernetes.io/docs/concepts/storage/storage-classes/#glusterfs

[2018-04-27 14:33] jarrpa commented on #434
I'm not sure, I don't track exact heketi versions as well as I should. I know in the 6 there was a lot of work put into improving stability especially with regards to volume creation and deletion. Is the current issue that you can't get the volumes to delete? Is this via kubectl, heketi-cli, or both?

[2018-04-27 14:51] mjschmidt commented on #434
Do you guys run containerized gluster and heketi? Or is this something that is not really being done?

The problem is that it seems like heketi is getting stuck provisioning volumes in the middle of creation then freezing up.

I see this in the heketi logs
[code]

And I would expect to see these steps next:
[code]

But they are never happening and heketi just stops doing stuff, no error messages t

[2018-04-27 15:06] IvanBiv commented on #468
@phlogistonjohn yep I use single node cluster.
My changed:
[code]

But I see again after 5 minute
[code]

[2018-04-27 17:23] #468 closed

[2018-04-27 17:56] phlogistonjohn commented on #434
As of version 6 Heketi generally operates in the following manner:
- The request is processed, the needed elements (devices, etc) are determined, and that is all logged in the db
- Heketi creates (or deletes, etc) the items from the gluster nodes.
- If no errors occurred the db entries are marked as no longer pending, otherwise attempts are made to undo the operation

Because of this there are a f

[2018-04-27 19:03] mjschmidt commented on #434
I have seen gluster node restarts that think may have coincided with heketi failure. I am not sure if this also causes heketi restarts or not. I will look into this more.

So I tore it down again for more testing. But I will try to figure out if it is 1 2 or 3 and get back to you all at some point. I appreciate the help.

[2018-04-28 01:02] #465 closed

[2018-04-28 01:05] 13567436138 opened #469 "Unable to create node: New Node doesn't have glusterd running"
[code]

[2018-04-28 01:21] 13567436138 opened #470 "failed to create logfile "/var/log/glusterfs/cli.log" (No such file or directory)"
[code]

[2018-04-28 01:49] #470 closed

[2018-05-02 13:52] tusharsanas commented on #365
Hi All,

please can anyone help me to resolve the same above issue occurred to me. Please find blow error details:

Creating node ip-172-31-40-230.eu-west-1.compute.internal ... ID: 284de7aed6dd9a79eb4bf2d1a820f790\n\t\tAdding device /dev/xvde ... OK\n\t
Creating node ip-172-31-9-28.eu-west-1.compute.internal ... Unable to create node: Unable to execute command on glusterfs-storage-1sscx:\n\t
Crea

[2018-05-02 18:13] mjschmidt commented on #434
So my current way forward is to deploy gluster underneath kubernetes rather than in Kubernetes, and only run the heketi container inside of kubernetes since it seems like gluster container restarts are the issue I am facing. I want to see if deploying gluster not in containers solves my problems or not and debug from there, gluster is already distributed so I don't really need it running in a cont

[2018-05-02 19:02] mjschmidt commented on #434
Also I spread the cluster out (less space on each node, but more nodes for same total amount of space)  to try to eliminate issue #3 that @phlogistonjohn pointed out.

[2018-05-03 13:47] jarrpa commented on #365
@tusharsanas This issue is stale and should be closed. Please open a new issue providing the error you're seeing as well as any relevant output from `kubectl logs <heketi_pod>`. Also check to see if you're in the right namespace, or do `kubectl get pods --all-namespaces`.

[2018-05-03 13:47] #365 closed

[2018-05-03 13:50] jarrpa commented on #434
You do not want to do a peer probe. You only want the glusterd server running, no configuration done. Also make sure you have the requisite kernel modules loaded, the needed firewall ports opened, and the target devices are all bare (`wipefs -a <device>` should do it).

[2018-05-03 13:58] mjschmidt commented on #434
Okay that is easy (: I can uninstall and reinstall just to be safe on that front

[2018-05-05 05:00] rwsu opened #471 "deploy-heketi pod fails when firewalld is active"
gk-deploy times out waiting for the deploy-heketi pod to start when I have firewalld running. If firewalld is disabled, gk-deploy completes successfully.

My environment is
* CentOS 7.4
* Kubernetes v1.10.2
* Weave Net 2.3

[code]

[2018-05-08 13:39] tusharsanas opened #472 "Load heketi topology: Unable to create node: Unable to execute command on glusterfs-storage"
Hi Team,

Please can anyone help me to resolve the same below issue occurred during the deployment of Openshift 3.9 through rpm. Please find below error details.

TASK [openshift_storage_glusterfs : Load heketi topology] *******************************************************************************
fatal: [amos002-master1.amosdemo.io]: FAILED! => {"changed": true, "cmd": ["oc", "rsh", "--namespac

[2018-05-08 13:41] tusharsanas commented on #365
@jarrpa : Separate ticket # #472 is created. Please can you help me to resolve my issue.

[2018-05-08 17:47] phlogistonjohn commented on #472
Hello, Heketi requires empty block devices and will not work if you've already created lvm pvs or filesystem, or partitions, etc on those block devices. If you know those devices are unused you can use a command like `wipefs -a` to clear them first before trying to initialize heketi.

[2018-05-09 00:40] jarrpa commented on #471
@rwsu Hi! Sorry for the delay.

What did you use for your kube deployment and networking? I'm seeing a lot of issues with that when searching for your particular error message:

https://www.google.com/search?q=kube+Failed+create+pod+sandbox

[2018-05-09 02:40] jarrpa commented on #471
Did you check through any of the hits in that search? Anything you've determined is not a problem?

[2018-05-09 12:01] tusharsanas commented on #472
Hi @phlogistonjohn ,

Thanks for your reply. We run the wipefs -a <device> command, at first the issues was resolved, but further due to some invalid entry in the inventory the deploy-cluster.yml got failed. So corrected that issues with proper inputs in the inventory file.

We deleted existing volume and created new and attached to the instances. So, that means current we have new blank volume. W

[2018-05-09 13:18] es1o opened #473 "Create distributed-replicated volume in storageclass"
Hi, I use heketi to create dynamic glusterfs volumes.
I created storage class:
[code]
I don't know how to create distributed replicated volume with 2 replicas and 2 distributed parts. In documentation I found only how to create replica, distributed volume and disperse volume.
Is it possible to create 2x2 volume dynamically?

[2018-05-09 13:35] nixpanic commented on #473
Heketi tries to create bricks of the size that fits on the block
devices. As long as the replicated bricks fit on the block devices, it
will not (need to) create a distributed volume.

There is no real way to force Heketi to create distributed-replicated
volumes from a StorageClass. You can however expand the volume, and that
way Heketi will allocate an two additional bricks for the volume.

[2018-05-09 13:45] es1o commented on #473
@nixpanic
Unfortunatelly it doesn't work because I have 6 nodes, with 80GB on each node and when I try create 120GB volume I get a error:
`Failed to provision volume with StorageClass "glusterfs-storage-replica-2": glusterfs: create volume err: error creating volume No space`

I would like to create distributed-replicated with 4 nodes and 60GB on each node, but looks like heketi tries to create re

[2018-05-09 14:12] phlogistonjohn commented on #473
Hi @es1o, as @nixpanic mentioned heketi does not have an explicit method to create that layout, but ought to be able to do it implictly. Since this seems like a straight heketi issue, can I ask you to file a new issue at [heketi](http://github.com/heketi/heketi) and provide heketi logs from when the failure condition occured?
You can then close this issue

[2018-05-09 19:31] es1o commented on #473
Thank you. I'created issue in heketi repository.

[2018-05-09 22:34] jarrpa commented on #472
@tusharsanas Can you verify that the new storage devices don't show as having partitions in either `lsblk` or `pvs`?

[2018-05-10 04:35] Justluckyg opened #474 "How do i check how much storage is remaining in my glusterfs cluster?"
As far as I know the volume claims are redundant into multiple nodes. (atleast 3times redundancy right?) If I provisioned 50gb x 4 partition, that gives me 200gb. But I can  only provision pvc 200/3 correct? Im not sure if this is correct though. I would like to know or find a way to see my available volume/storage that I can claim or extend.

Thanks!

[2018-05-10 07:10] tusharsanas commented on #472
Hi @jarrpa ,

Please find below details after running the command mentioned by you.

[ec2-user@ip-172-31-10-110 ~]$ lsblk
NAME    MAJ:MIN RM SIZE RO TYPE MOUNTPOINT
xvda    202:0    0  10G  0 disk
├─xvda1 202:1    0   1M  0 part
└─xvda2 202:2    0  10G  0 part /
xvde    202:64   0  10G  0 disk
[ec2-user@ip-172-31-10-110 ~]$ pvs
-bash: pvs: command not found
[ec2-user@ip-172-31-10-110 ~]$

[2018-05-10 21:31] lucamaro commented on #451
I had the same problem and found this workaround: when gluster is deployed as pod (`-g`) it exposes sshd on port 2222 of node. So you have to specify the option `--ssh-port 2222`.

If this is correct, I think there is a bug in the gk-deploy script that don't care about this option, here a small patch:

[code]

I needed to copy public key into authorized_keys file of user root in the pod to complet

[2018-05-11 01:06] htve commented on #451
@lucamaro
Thank you very much, but I have solved the problem, because I redeploy my cluster, the new cluster does not have this problem, I think, this should be a cluster deployment problem.

[2018-05-11 01:06] #451 closed

[2018-05-11 06:04] lucamaro commented on #451
Did you redeploy with gluster server in a pod or server is installed on the node os?

[2018-05-13 12:11] mootezbessifi opened #475 "gk-deploy error: cat: /tmp/heketi-storage.json: No such file or directory"
Dears,

when i tried to execute gk-deploy on my k8s cluster i get the following error after topology load:

`cat: /tmp/heketi-storage.json: No such file or directory
command terminated with exit code 1
error: no objects passed to create
Failed on creating heketi storage resources.`

any help here !!!

[2018-05-13 15:05] mootezbessifi commented on #475
i tried to make some troubleshooting  and i find out that when the gk-deploy script come to execute the below line:
` heketi-cli -s http://localhost:8080 --user admin --secret '' setup-openshift-heketi-storage --listfile=/tmp/heketi-storage.json ' '`

it hang for a while and skip the execution. that's why  /tmp/heketi-storage.json was not created.

what can be the route cause . ?

[2018-05-14 14:02] jarrpa commented on #474
Hi! Sorry for the delay, I was traveling last week.

You can provision whatever replica count you want. If you're using dynamic provisioning, you would create a StorageClass with the parameter `volumetype: "replicate:n"`, or on the heketi-vli `volume create -replica n` where `n` is the desired number of replicas.

Currently there's no easy way to determine available storage capacity. One thing you

[2018-05-14 14:07] jarrpa commented on #472
Hi! Sorry for the delay, I was traveling last week.

Somehow I only just now realize you were using openshift-ansible. While I'll help you out here for now, in the future please open any further issues at https://github.com/openshift/openshift-ansible . :)

If you can still reproduce the problem, could you have a look at the output of `oc logs <heketi_pod>` and see what you can find? We're looking

[2018-05-14 14:27] jarrpa commented on #475
Could you have a look at the output of `kubectl logs <heketi_pod>` and see if you can find what commands it failed on?

[2018-05-14 14:52] Justluckyg commented on #474
Thanks as always @jarrpa That answers my question.

[2018-05-14 14:52] #474 closed

[2018-05-14 15:43] joejulian commented on #425
The problem seems to be that the heketi container's resolv.conf is searching 8.8.4.4 instead of your kubernetes dns.

[2018-05-15 11:10] max8899 commented on #442
see this: https://github.com/moby/moby/issues/29879

[2018-05-22 10:38] mootezbessifi commented on #475
Hi, the issue was that forgot to load kernel modules, thank you . issue resolved

[2018-05-22 10:38] #475 closed

[2018-05-22 10:39] mootezbessifi opened #477 "Give specific name to the created logical volume when dynamically creating a k8s pvc"
I am trying to deal with dynamic storage provisioning in kubernetes using pvc and gluster storage class. when i try to create a pvc it creates to me an LV (logical volume) with a random name (brick_xxxxxxxx) and bind it to the k8s pv.

In case when i am provisioning too many volumes, it will be very difficult to know which created LV belongs to which k8s pvc.

My question is, is there any way or p

[2018-05-22 10:45] mootezbessifi opened #478 "backup and restore Logical volumes for glusterfs and kubernetes"
Hi all,

I am working with kubernetes and i tried to dynamically provision volumes on top of gluster cluster and heketi through k8s pvc.

it can happen that my data will be corrupted or maybe lost so i need to know THE BEST WAY to backup and restore logical volumes (lv) for a running gluster cluster on top of kubernetes

[2018-05-23 09:55] ferrarimarco opened #479 "gk-deploy check() does not take into account "Terminating" pods"
Hi all.

Here is the situation: while deploying glusterfs on Kubernetes with `gk-deploy`, it takes a while (15 secs maybe) for the volumes to be ready (at least on my cluster).

For this reason the `deploy-hekety` pod cannot start right away. It eventually works (fourth or fifth try) but the `check()` function cannot see that the pod is running if it's not on the first line of `kubectl` output.

H

[2018-05-23 12:49] jarrpa commented on #479
Technically the script is taking the Terminating pods into account. It's looking for any pods that match a given pod selector, and then making sure all of them are reporting ready, in this case 1/1. If there are any pods that aren't 1/1, check() will loop until they do or timeout is hit.

The real question is why those Terminating pods are lingering so long. What was the error that cause you to tr

[2018-05-24 07:30] ferrarimarco commented on #479
I'll see if I can reproduce the issue...

[2018-05-24 09:17] thangvubk opened #480 "IO performance is too slow."
First, Thank you for your great job!

I'm trying to deploy a bare-metal cluster using glusterfs over RDMA. But the IO performance is not fast as expected.
The glusterfs have 3 nodes using of HDDs with RAID 5 configuration.
The network is 56G Infiniband.

First. I have tested the network the speed is about 36Gbps as shown below.
[code]

Next, i test the normal disk speed it is about 322MB/s

[code]

[2018-05-24 16:22] obnoxxx commented on #454
@Vishal-Gaur you still have not done the suggested change:
From https://kubernetes.io/docs/concepts/storage/storage-classes/#glusterfs, you should add
[code]
to your storage class. Without this, kubernetes will try to create replica-3-volumes, which fails by design in a 1-node "cluster" ...

[2018-05-24 21:18] vbellur commented on #480
Please note that oflag=direct does not guarantee data to be available on disks. Gluster ensures that all data and metadata is on the disks by the usage of fsync() for write operations. Using oflag=sync could possibly give a better comparison with dd.